In [1]:
import pandas as pd
import numpy as np
import timeit

def print_series(sr: pd.Series):
    print(sr.to_string(max_rows=10, dtype=True))
    print()

def test_solutions(solution_1, solution_2):
    # Test performance with timeit
    time_1 = timeit.timeit(solution_1, number=100)
    time_2 = timeit.timeit(solution_2, number=100)

    print(f"Solution 1 Time: {time_1:.6f} seconds")
    print(f"Solution 2 Time: {time_2:.6f} seconds")

##### Test

In [86]:
df = pd.DataFrame(
    [
        [0,1,2,3,4,5],
        [10,11,12,13,14,15],
        [20,21,22,23,24,25],
        [30,31,32,33,34,35],
        [40,41,42,43,44,45],
        [50,51,52,53,54,55]
    ]
)
df.iloc[1:4,[0,2,4]]
df.iloc[1:4:3,[0,2,4]]

    0   2   4
1  10  12  14

In [147]:
print(pd.__version__)

2.2.2

##### 1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [8]:
sr = pd.Series([1, 3, 5, 7, 9])
print(sr)

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [9]:
sr = pd.Series(np.random.randint(low=0, high=101, size=10))
print(sr)

0    21
1    99
2    54
3    91
4    16
5    77
6    92
7    81
8    31
9    68
dtype: int32

##### 2. Write a Pandas program to convert a Panda module Series to Python list and it's type.

In [19]:
sr = pd.Series(np.random.randint(0, 100, 10))
print(sr)
print(type(sr))

print('\nConvert Pandas Series to List:')
l = sr.to_list()
print(l)
print(type(l))

0    50
1    31
2    10
3    16
4    13
5    55
6    78
7    69
8    42
9     6
dtype: int32
<class 'pandas.core.series.Series'>

Convert Pandas Series to List:
[50, 31, 10, 16, 13, 55, 78, 69, 42, 6]
<class 'list'>

##### 3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

In [23]:
sr1 = pd.Series([2,4,6,8,10])
sr2 = pd.Series([1, 3, 5, 7, 9])

print('\nadd')
print(sr1 + sr2)

print('\nsubstract')
print(sr1 - sr2)

print('\nmultiple')
print(sr1 * sr2)

print('\ndivide')
print(sr1 / sr2)

add
0     3
1     7
2    11
3    15
4    19
dtype: int64

substract
0    1
1    1
2    1
3    1
4    1
dtype: int64

multiple
0     2
1    12
2    30
3    56
4    90
dtype: int64

divide
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

##### 4. Write a Pandas program to compare the elements of the two Pandas Series.

In [25]:
sr1 = pd.Series([2, 4, 6, 8, 10])
sr2 = pd.Series([1, 3, 5, 7, 9])

print(sr1 == sr2)

print(sr1 > sr2)

print(sr1 < sr2)

0    False
1    False
2    False
3    False
4    False
dtype: bool
0    True
1    True
2    True
3    True
4    True
dtype: bool
0    False
1    False
2    False
3    False
4    False
dtype: bool

##### 5. Write a Pandas program to convert a dictionary to a Pandas series.

In [28]:
sr = pd.Series({'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800})
print(sr)

a    100
b    200
c    300
d    400
e    800
dtype: int64

##### 6. Write a Pandas program to convert a NumPy array to a Pandas series.

In [33]:
np_array = np.array([10, 20, 30, 40, 50])
print(f'NumPy array: \n{np_array}')
print()
sr = pd.Series(arr)
print(f'Pandas Series: \n{sr}')

NumPy array:
[10 20 30 40 50]

Pandas Series:
0    10
1    20
2    30
3    40
4    50
dtype: int64

##### 7. Write a Pandas program to change the data type of given a column or a Series.

In [46]:
sr = pd.Series([100, 200, 'python', 300.12, 400])
print(sr)
print()
pd.to_numeric(sr, errors='coerce')

0       100
1       200
2    python
3    300.12
4       400
dtype: object

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

##### 8. Write a Pandas program to convert the first column of a DataFrame as a Series.

In [77]:
df = pd.DataFrame({'col1': [1,2,3,4,7,11], 'col2': [4,5,6,9,5,0], 'col3': [7,5,8,12,1,11]})
print('Original DataFrame')
print(df)
print(type(df))
print()

print('First columns as Series')
print()

s1 = df['col1']
print(s1)
print(type(s1))
print()

s2 = df.col1
print(s2)
print(type(s2))
print()

s3 = df.iloc[:,0]
print(s3)
print(type(s3))
print()

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11
<class 'pandas.core.frame.DataFrame'>

First columns as Series

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

##### 9. Write a Pandas program to convert a given Series to an array.

In [141]:
sr = pd.Series([100, 200, 'python', 300.12, 400])

print('Original Series')
print(sr)
print()

print('Series to an array')
np_array = sr.to_numpy()
print(np_array)
print(type(np_array))
print()

array = sr.array
print(array)
print(type(array))
print()

print(sr.values)
print(type(sr.values))

Original Series
0       100
1       200
2    python
3    300.12
4       400
dtype: object

Series to an array
[100 200 'python' 300.12 400]
<class 'numpy.ndarray'>

<NumpyExtensionArray>
[100, 200, 'python', 300.12, 400]
Length: 5, dtype: object
<class 'pandas.core.arrays.numpy_.NumpyExtensionArray'>

[100 200 'python' 300.12 400]
<class 'numpy.ndarray'>

##### 10. Write a Pandas program to convert Series of lists to one Series.

In [118]:
sr = pd.Series(
    [
        ['Red', 'Green', 'White'],
        ['Red', 'Black'],
        ['Yellow']
    ]
)

print('Original Series')
print(sr)
print()

print('One Series')
s1 = sr.explode().reset_index(drop = True)
print(s1)
print()

s2 = sr.apply(pd.Series).stack()
print(s2)
print()

Original Series
0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object

One Series
0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

0  0       Red
   1     Green
   2     White
1  0       Red
   1     Black
2  0    Yellow
dtype: object

##### 11. Write a Pandas program to sort a given Series.

In [133]:
sr = pd.Series(['100', '200', 'python', '300.12', '400'])
print(sr)

sr_sorted = sr.sort_values()
print(sr_sorted)

0       100
1       200
2    python
3    300.12
4       400
dtype: object
0       100
1       200
3    300.12
4       400
2    python
dtype: object

In [135]:
sr = pd.Series([100, 200, 'python', 300.12, 400])
print(sr)

sr_sorted = sr.astype(str).sort_values()
print(sr_sorted)

0       100
1       200
2    python
3    300.12
4       400
dtype: object
0       100
1       200
3    300.12
4       400
2    python
dtype: object

##### 12. Write a Pandas program to add some data to an existing Series.

In [152]:
sr = pd.Series([100, 200, 'python', 300.12, 400])
pd.concat([sr, pd.Series([500, 'php'])], ignore_index=True)

0       100
1       200
2    python
3    300.12
4       400
5       500
6       php
dtype: object

##### 13. Write a Pandas program to create a subset of a given series based on value and condition.

In [163]:
sr = pd.Series(np.arange(11))
print(sr)
print()

sr[sr < 6]

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

##### 14. Write a Pandas program to change the order of index of a given series

In [167]:
sr = pd.Series([1, 2, 3, 4, 5], index=["A", "B", "C", "D", "E"])

s1 = sr[["B", "A", "C", "D", "E"]]
print(s1)

s2 = sr.reindex(index = ["B", "A", "C", "D", "E"])
print(s2)

B    2
A    1
C    3
D    4
E    5
dtype: int64
B    2
A    1
C    3
D    4
E    5
dtype: int64

##### 15. Write a Pandas program to create the mean and standard deviation of the data of a given Series.

In [172]:
sr = pd.Series(np.random.randint(low=1, high=10, size=11))
print(sr)

print(f'Mean of the said Data Series: {sr.mean()}')
print(f'Standard deviation of the said Data Series: {sr.std()}')

0     3
1     9
2     7
3     2
4     7
5     3
6     8
7     4
8     7
9     2
10    8
dtype: int32
Mean of the said Data Series: 5.454545454545454
Standard deviation of the said Data Series: 2.6594599588501557

##### 16. Write a Pandas program to get the items of a given series not present in another given series.

In [4]:
sr1 = pd.Series([1,2,3,4,5])
sr2 = pd.Series([2,4,6,8,10])

print('Series.isin:')
print(sr1[~sr1.isin(sr2)])

print()

print('numpy.isin:')
print(sr1[~np.isin(sr1, sr2)])

Series.isin:
0    1
2    3
4    5
dtype: int64

numpy.isin:
0    1
2    3
4    5
dtype: int64

In [5]:
# Generate large datasets
sr1 = pd.Series(np.random.randint(0, 1000, 1000000))
sr2 = pd.Series(np.random.randint(0, 1000, 1000000))

# Test pandas.Series.isin
def test_pandas_isin():
    return sr1[~sr1.isin(sr2)]

# Test numpy.isin
def test_numpy_isin():
    return sr1[~np.isin(sr1, sr2)]

# Time the performance
pandas_time = timeit.timeit(test_pandas_isin, number=10)
numpy_time = timeit.timeit(test_numpy_isin, number=10)

print(f"pandas.Series.isin: {pandas_time:.6f} seconsr")
print(f"numpy.isin: {numpy_time:.6f} seconsr")

pandas.Series.isin: 0.110712 seconds
numpy.isin: 0.207388 seconds

In [30]:
# Generate large datasets
sr1 = pd.Series(np.random.randint(0, 1000, 1000000))
sr2 = pd.Series(np.random.randint(0, 1000, 1000000))

# Convert to numpy arrays first
sr1_np = sr1.values
sr2_np = sr2.values

# Test pandas.Series.isin
def test_pandas_isin():
    return sr1[~sr1.isin(sr2)]

# Test numpy.isin with conversion done earlier
def test_numpy_isin():
    return sr1_np[~np.isin(sr1_np, sr2_np)]

# Time the performance
pandas_time = timeit.timeit(test_pandas_isin, number=10)
numpy_time = timeit.timeit(test_numpy_isin, number=10)

print(f"pandas.Series.isin: {pandas_time:.6f} seconds")
print(f"numpy.isin (pre-conversion): {numpy_time:.6f} seconds")

pandas.Series.isin: 0.099464 seconds
numpy.isin (pre-conversion): 0.171774 seconds

##### 17. Write a Pandas program to get the items which are not common of two given series.

In [84]:
sr1 = pd.Series([1,2,3,4,5])
sr2 = pd.Series([2,4,6,8,10])

sr_concat = pd.concat([sr1, sr2], ignore_index=True)
sr_common = sr1[sr1.isin(sr2)]
print(sr_concat[~sr_concat.isin(sr_common)])

sr_union = pd.Series(np.union1d(sr1, sr2))
sr_intersect = pd.Series(np.intersect1d(sr1, sr2))
print(sr_union[~sr_union.isin(sr_intersect)])

0     1
2     3
4     5
7     6
8     8
9    10
dtype: int64
0     1
2     3
4     5
5     6
6     8
7    10
dtype: int64

In [62]:
sr1 = pd.Series(np.random.randint(0, 1000, 1000000))
sr2 = pd.Series(np.random.randint(1000, 2000, 1000000))

def pandas_not_common():
    sr_concat = pd.concat([sr1, sr2], ignore_index=True)
    sr_common = sr1[sr1.isin(sr2)]
    return sr_concat[~sr_concat.isin(sr_common)]

def numpy_not_common():
    sr_union = pd.Series(np.union1d(sr1, sr2))
    sr_intersect = pd.Series(np.intersect1d(sr1, sr2))
    return sr_union[~sr_union.isin(sr_intersect)]

pandas_time = timeit.timeit(pandas_not_common, number=100)
numpy_time = timeit.timeit(numpy_not_common, number=100)

print(f"pandas: {pandas_time:.6f} seconds")
print(f"numpy: {numpy_time:.6f} seconds")

pandas: 2.539635 seconds
numpy: 2.746451 seconds

In [83]:
def pandas_concat():
    return pd.concat([sr1, sr2], ignore_index=True)

def numpy_union():
    return pd.Series(np.union1d(sr1, sr2))

def pandas_isin():
    return sr1[sr1.isin(sr2)]

def numpy_intersect():
    return pd.Series(np.intersect1d(sr1, sr2))

def pandas_not_isin():
    return sr_concat[~sr_concat.isin(sr_common)]

def numpy_not_isin():
    return sr_union[~sr_union.isin(sr_intersect)]

def pandas_function(): 
    sr_concat = pandas_concat()
    sr_common = pandas_isin()
    return pandas_not_isin()

def numpy_function():
    sr_union = numpy_union()
    sr_intersect = numpy_intersect()
    return numpy_not_isin()

def pandas_function_ref(): 
    sr_concat = pandas_concat
    sr_common = pandas_isin
    return pandas_not_isin()

def numpy_function_ref():
    sr_union = numpy_union
    sr_intersect = numpy_intersect
    return numpy_not_isin()

def timeit_functions(pandas_func, numpy_func):
    pandas_time = timeit.timeit(pandas_func, number=100)
    numpy_time = timeit.timeit(numpy_func, number=100)
    print(f"pandas: {pandas_time:.6f} seconds")
    print(f"numpy: {numpy_time:.6f} seconds")
    return pandas_time, numpy_time

def test_timeit():
    print("pandas_concat vs numpy_union1d")
    pandas_concat_time, numpy_union1d_time = timeit_functions(pandas_concat, numpy_union)
    
    print()
    print("pandas_isin vs numpy_intersect")
    pandas_isin_time, numpy_intersect_time = timeit_functions(pandas_isin, numpy_intersect)

    print()
    print("pandas_not_isin vs numpy_not_isin")
    sr_concat = pandas_concat()
    sr_common = pandas_isin()
    sr_union = numpy_union()
    sr_intersect = numpy_intersect()
    pandas_not_isin_time, numpy_not_isin_time = timeit_functions(pandas_not_isin, numpy_not_isin)

    print()
    print("SUM")
    print(f"pandas: {np.sum([pandas_concat_time, pandas_isin_time, pandas_not_isin_time]):.6f} seconds")
    print(f"numpy: {np.sum([numpy_union1d_time, numpy_intersect_time, numpy_not_isin_time]):.6f} seconds")
    
    print()
    print("pandas_function vs numpy_function")
    timeit_functions(pandas_function, numpy_function)

    print()
    print("pandas_function_ref vs numpy_function_ref")
    timeit_functions(pandas_function_ref, numpy_function_ref)

print('np.random.randint(0, 1000, 1000000)')
print('np.random.randint(0, 1000, 1000000)')
print()
sr1 = pd.Series(np.random.randint(0, 1000, 1000000))
sr2 = pd.Series(np.random.randint(0, 1000, 1000000))

test_timeit()

print("------------------------------------")
print('np.random.randint(0, 1000000, 1000000)')
print('np.random.randint(0, 1000000, 1000000)')
sr1 = pd.Series(np.random.randint(0, 1000000, 1000000))
sr2 = pd.Series(np.random.randint(0, 1000000, 1000000))

test_timeit()

print("------------------------------------")
print('np.random.randint(0, 1000000000, 1000000)')
print('np.random.randint(0, 1000000000, 1000000)')
sr1 = pd.Series(np.random.randint(0, 1000000000, 1000000))
sr2 = pd.Series(np.random.randint(0, 1000000000, 1000000))

test_timeit()

print("------------------------------------")
print('np.random.randint(0, 1000000, 1000000)')
print('np.random.randint(1000000, 2000000, 1000000)')
print()
sr1 = pd.Series(np.random.randint(0, 1000000, 1000000))
sr2 = pd.Series(np.random.randint(1000, 2000000, 1000000))

test_timeit()

print("------------------------------------")
print('np.random.randint(0, 100000, 1000)')
print('np.random.randint(0, 100000, 1000)')
sr1 = pd.Series(np.random.randint(0, 1000000, 1000))
sr2 = pd.Series(np.random.randint(0, 1000000, 1000))

test_timeit()

np.random.randint(0, 1000, 1000000)
np.random.randint(0, 1000, 1000000)

pandas_concat vs numpy_union1d
pandas: 0.257144 seconds
numpy: 1.486433 seconds

pandas_isin vs numpy_intersect
pandas: 1.261916 seconds
numpy: 1.315175 seconds

pandas_not_isin vs numpy_not_isin
pandas: 1.400651 seconds
numpy: 0.018487 seconds

SUM
pandas: 2.919711 seconds
numpy: 2.820094 seconds

pandas_function vs numpy_function
pandas: 2.820027 seconds
numpy: 2.808503 seconds

pandas_function_ref vs numpy_function_ref
pandas: 1.388584 seconds
numpy: 0.018332 seconds
------------------------------------
np.random.randint(0, 1000000, 1000000)
np.random.randint(0, 1000000, 1000000)
pandas_concat vs numpy_union1d
pandas: 0.238934 seconds
numpy: 3.606656 seconds

pandas_isin vs numpy_intersect
pandas: 3.766485 seconds
numpy: 5.532555 seconds

pandas_not_isin vs numpy_not_isin
pandas: 1.370410 seconds
numpy: 0.018077 seconds

SUM
pandas: 5.375829 seconds
numpy: 9.157288 seconds

pandas_function vs numpy_function
pandas: 5.607373 seconds
numpy: 9.232154 seconds

pandas_function_ref vs numpy_function_ref
pandas: 1.405665 seconds
numpy: 0.021467 seconds
------------------------------------
np.random.randint(0, 1000000000, 1000000)
np.random.randint(0, 1000000000, 1000000)
pandas_concat vs numpy_union1d
pandas: 0.232567 seconds
numpy: 2.901449 seconds

pandas_isin vs numpy_intersect
pandas: 8.742096 seconds
numpy: 5.024560 seconds

pandas_not_isin vs numpy_not_isin
pandas: 1.371300 seconds
numpy: 0.018170 seconds

SUM
pandas: 10.345963 seconds
numpy: 7.944178 seconds

pandas_function vs numpy_function
pandas: 10.292802 seconds
numpy: 7.879846 seconds

pandas_function_ref vs numpy_function_ref
pandas: 1.401742 seconds
numpy: 0.018407 seconds
------------------------------------
np.random.randint(0, 1000000, 1000000)
np.random.randint(1000000, 2000000, 1000000)

pandas_concat vs numpy_union1d
pandas: 0.244441 seconds
numpy: 3.683305 seconds

pandas_isin vs numpy_intersect
pandas: 5.843197 seconds
numpy: 5.240273 seconds

pandas_not_isin vs numpy_not_isin
pandas: 1.383780 seconds
numpy: 0.018257 seconds

SUM
pandas: 7.471419 seconds
numpy: 8.941835 seconds

pandas_function vs numpy_function
pandas: 8.509524 seconds
numpy: 9.091094 seconds

pandas_function_ref vs numpy_function_ref
pandas: 1.380476 seconds
numpy: 0.018157 seconds
------------------------------------
np.random.randint(0, 100000, 1000)
np.random.randint(0, 100000, 1000)
pandas_concat vs numpy_union1d
pandas: 0.004861 seconds
numpy: 0.010744 seconds

pandas_isin vs numpy_intersect
pandas: 0.019405 seconds
numpy: 0.013320 seconds

pandas_not_isin vs numpy_not_isin
pandas: 1.380598 seconds
numpy: 0.019868 seconds

SUM
pandas: 1.404865 seconds
numpy: 0.043933 seconds

pandas_function vs numpy_function
pandas: 1.440731 seconds
numpy: 0.048359 seconds

pandas_function_ref vs numpy_function_ref
pandas: 1.386937 seconds
numpy: 0.018653 seconds

##### 18. Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series.

In [118]:
sr = pd.Series(np.random.rand(20) * 100)
print(sr.sort_values(ignore_index=True))
print()
print('Minimum, 25th percentile, median, 75th, and maximum of a given series')
print('[', sr.min(), sr.quantile(.25), sr.median(), sr.quantile(.75), sr.max(), ']')

print()
print('Minimum, 25th percentile, median, 75th, and maximum of a given series')
print(sr.quantile([0, .25, .50, .75, 1]).values)

0      1.195381
1     14.436361
2     17.769152
3     17.922908
4     19.314940
5     30.336348
6     34.990888
7     40.573603
8     46.006776
9     47.364930
10    49.326360
11    54.228679
12    57.176519
13    62.664924
14    66.581822
15    71.488652
16    72.064297
17    77.162918
18    82.855416
19    90.627356
dtype: float64

Minimum, 25th percentile, median, 75th, and maximum of a given series
[ 1.1953809669253634 27.58099583880692 48.34564508183374 67.80852919327148 90.62735581535169 ]

Minimum, 25th percentile, median, 75th, and maximum of a given series
[ 1.19538097 27.58099584 48.34564508 67.80852919 90.62735582]

In [119]:
# solution
num_state = np.random.RandomState(100)
num_series = pd.Series(num_state.normal(0, 1, 20))
print(num_series)

print()
print('Minimum, 25th percentile, median, 75th, and maximum of a given series')
print(np.percentile(num_series, [0, 25, 50, 75, 100]))

print()
print('Minimum, 25th percentile, median, 75th, and maximum of a given series')
print(np.percentile(sr, [0, 25, 50, 75, 100]))

0    -1.749765
1     0.342680
2     1.153036
3    -0.252436
4     0.981321
5     0.514219
6     0.221180
7    -1.070043
8    -0.189496
9     0.255001
10   -0.458027
11    0.435163
12   -0.583595
13    0.816847
14    0.672721
15   -0.104411
16   -0.531280
17    1.029733
18   -0.438136
19   -1.118318
dtype: float64

Minimum, 25th percentile, median, 75th, and maximum of a given series
[-1.74976547 -0.47634033  0.05838426  0.55384433  1.1530358 ]

Minimum, 25th percentile, median, 75th, and maximum of a given series
[ 1.19538097 27.58099584 48.34564508 67.80852919 90.62735582]

##### 19. Write a Pandas program to calculate the frequency counts of each unique value of a given series.

In [15]:
sr = pd.Series(np.take(list('0123456789'), np.random.randint(10, size=40)))
print_series(sr)
print()
result_sr = sr.value_counts()
print_series(result_sr)

0     0
1     7
2     8
3     5
4     4
     ..
35    6
36    2
37    0
38    5
39    8
dtype: object

0    7
5    6
6    5
8    5
7    4
4    4
1    3
3    3
9    2
2    1
dtype: int64

##### 20. Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' in the series.

In [78]:
sr = pd.Series(np.random.randint(1, 4, [15]), dtype='object')
print_series(sr)

sr_freq = sr.value_counts()
print_series(sr_freq)

result_sr = sr.where(sr == sr_freq.index[0], 'Other')
print_series(result_sr)

sr[~sr.isin(sr_freq.index[:1])] = 'Other'
print_series(sr)

0     2
1     1
2     3
3     3
4     3
     ..
10    3
11    2
12    1
13    3
14    3
dtype: object

3    6
2    5
1    4
dtype: int64

0     Other
1     Other
2         3
3         3
4         3
      ...
10        3
11    Other
12    Other
13        3
14        3
dtype: object

0     Other
1     Other
2         3
3         3
4         3
      ...
10        3
11    Other
12    Other
13        3
14        3
dtype: object

##### 21. Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.

In [121]:
sr = pd.Series(np.random.randint(1, 10, 10))
print(sr)

print(sr[sr % 5 == 0].index.to_list())

result = np.where(sr%5==0)
result[0]

0    5
1    2
2    2
3    9
4    2
5    5
6    4
7    7
8    4
9    9
dtype: int32
[0, 5]

(array([0, 5]),)

##### 22. Write a Pandas program to extract items at given positions of a given series.

In [124]:
sr = pd.Series(np.random.randint(0, 10, 22))
positions = [0, 2, 6, 11, 21]
print_series(sr.iloc[positions])
print_series(sr.take(positions))

0     0
2     2
6     8
11    8
21    5
dtype: int32

0     0
2     2
6     8
11    8
21    5
dtype: int32

##### 23. Write a Pandas program to get the positions of items of a given series in another given series.

In [131]:
sr1 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
sr2 = pd.Series([1, 3, 5, 7, 10])

sr1[sr1.isin(sr2)].index.to_list()

[pd.Index(sr1).get_loc(i) for i in sr2]

[0, 2, 4, 6, 9]

In [137]:
sr1 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
sr2 = pd.Series([1, 3, 5, 7, 10])

[pd.Index(sr1).get_loc(i) for i in sr2]

[0, 2, 4, 6, 9]

##### 24. Write a Pandas program convert the first and last character of each word to upper case in each word of a given series.

In [144]:
def upper_first_last(s: str):
    return s[0].upper() + s[1:-1] + s[-1].upper()

sr = pd.Series(['php', 'python', 'java', 'c#'])
sr.apply(upper_first_last)

0       PhP
1    PythoN
2      JavA
3        C#
dtype: object

In [145]:
sr = pd.Series(['php', 'python', 'java', 'c#'])
sr.map(lambda s: s[0].upper() + s[1:-1] + s[-1].upper())

0       PhP
1    PythoN
2      JavA
3        C#
dtype: object

##### 25. Write a Pandas program to calculate the number of characters in each word in a given series.

In [148]:
sr = pd.Series(['php', 'python', 'java', 'c#'])
sr.map(lambda s: len(s))

0    3
1    6
2    4
3    2
dtype: int64

##### 26. Write a Pandas program to compute difference of differences between consecutive numbers of a given series.

In [164]:
sr = pd.Series([1, 3, 5, 8, 10, 11, 15])
diff_sr = sr - sr.shift()
print(diff_sr.to_list())
print((diff_sr - diff_sr.shift()).to_list())

[nan, 2.0, 2.0, 3.0, 2.0, 1.0, 4.0]
[nan, nan, 0.0, 1.0, -1.0, -1.0, 3.0]

In [166]:
sr = pd.Series([1, 3, 5, 8, 10, 11, 15])
print(sr.diff().to_list())
print(sr.diff().diff().to_list())

[nan, 2.0, 2.0, 3.0, 2.0, 1.0, 4.0]
[nan, nan, 0.0, 1.0, -1.0, -1.0, 3.0]

##### 27. Write a Pandas program to convert a series of date strings to a timeseries.

In [182]:
sr = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])
pd.to_datetime(sr, format='mixed')

0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

##### 28. Write a Pandas program to get the day of month, day of year, week number and day of week from a given series of date strings.

In [223]:
sr = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])
datetime_sr = pd.to_datetime(sr, format='mixed')
print('Day of month:')
print(datetime_sr.dt.day.to_list())
print('Day of year:')
print(datetime_sr.dt.dayofyear.to_list())
print('Week number:')
print(datetime_sr.dt.isocalendar().week.tolist())
print('day of week:')
print(datetime_sr.dt.day_name().to_list())

Day of month:
[1, 2, 7, 6, 12, 6]
Day of year:
[1, 276, 66, 126, 103, 96]
Week number:
[1, 39, 10, 19, 15, 14]
day of week:
['Thursday', 'Sunday', 'Wednesday', 'Tuesday', 'Tuesday', 'Saturday']

##### 29. Write a Pandas program to convert year-month string to dates adding a specified day of the month.

In [232]:
from pandas.tseries.offsets import DateOffset
sr = pd.Series(['Jan 2015','Feb 2016','Mar 2017','Apr 2018','May 2019'])
pd.to_datetime(sr, format='%b %Y') + DateOffset(days=10)

0   2015-01-11
1   2016-02-11
2   2017-03-11
3   2018-04-11
4   2019-05-11
dtype: datetime64[ns]

##### 30. Write a Pandas program to filter words from a given series that contain atleast two vowels.

In [246]:
sr = pd.Series(['Red', 'Green', 'Orange', 'Pink', 'Yellow', 'White'])
sr[sr.str.lower().str.count('[aeiou]') > 1]

1     Green
2    Orange
4    Yellow
5     White
dtype: object

In [248]:
from collections import Counter
import timeit

# Sample Series for testing
color_series = pd.Series(['Red', 'Green', 'Orange', 'Pink', 'Yellow', 'White'] * 1000)

# 1st Solution
def solution_1():
    return color_series[color_series.str.lower().str.count('[aeiou]') > 1]

# 2nd Solution
def solution_2():
    return color_series.map(lambda c: sum([Counter(c.lower()).get(i, 0) for i in list('aeiou')]) >= 2)
    

# Test performance with timeit
time_1 = timeit.timeit(solution_1, number=100)
time_2 = timeit.timeit(solution_2, number=100)

print(f"Solution 1 Time: {time_1:.6f} seconds")
print(f"Solution 2 Time: {time_2:.6f} seconds")

Solution 1 Time: 0.859187 seconds
Solution 2 Time: 8.442090 seconds

##### 31. Write a Pandas program to compute the Euclidean distance between two given series.
**Euclidean distance**
From Wikipedia,
In mathematics, the Euclidean distance or Euclidean metric is the "ordinary" straight-line distance between two points in Euclidean space. With this distance, Euclidean space becomes a metric space. The associated norm is called the Euclidean norm.

In [251]:
sr1 = pd.Series([1,2,3,4,5,6,7,8,9,10])
sr2 = pd.Series([11,8,7,5,6,5,3,4,7,1])
print('Euclidean distance between two said series:')
print(np.linalg.norm(sr1 - sr2))

Euclidean distance between two said series:
16.492422502470642

##### 32. Write a Pandas program to find the positions of the values neighboured by smaller values on both sides in a given series.

In [278]:
sr = pd.Series([1, 8, 7, 5, 6, 5, 3, 4, 7, 1])

print(sr)
print()

sr[(sr.diff() > 0) & (sr.diff(-1) > 0)].index.to_list()

0    1
1    8
2    7
3    5
4    6
5    5
6    3
7    4
8    7
9    1
dtype: int64

[1, 4, 8]

In [276]:
sr = pd.Series([1, 8, 7, 5, 6, 5, 3, 4, 7, 1])

print(sr)
print()

temp = np.diff(np.sign(np.diff(sr)))
print(np.where(temp == -2)[0] + 1)

0    1
1    8
2    7
3    5
4    6
5    5
6    3
7    4
8    7
9    1
dtype: int64

[1 4 8]

In [266]:
sr = pd.Series([1, 8, 7, 5, 6, 5, 3, 4, 7, 1])

def solution_1():
    return sr[(sr.diff() > 0) & (sr.diff(-1) > 0)].index.to_list()

def solution_2():
    temp = np.diff(np.sign(np.diff(sr)))
    return np.where(temp == -2)[0] + 1

test_solutions(solution_1, solution_2)

Solution 1 Time: 0.061327 seconds
Solution 2 Time: 0.006130 seconds

##### 33. Write a Pandas program to replace missing white spaces in a given string with the least frequent character.

In [295]:
s = 'abc def abcdef icd'
print(s)
freq_sr = pd.Series(list(s)).value_counts()
print(freq_sr)
print(s.replace(' ', freq_sr.index[-1]))

abc def abcdef icd
     3
c    3
d    3
b    2
a    2
e    2
f    2
i    1
Name: count, dtype: int64
abcidefiabcdefiicd

In [304]:
s = 'abc def abcdef icd'

def solution_1():
    s.replace(' ', pd.Series(list(s)).value_counts().index[-1])

def solution_2():
    ser = pd.Series(list(s))
    "".join(ser.replace(' ', ser.value_counts().dropna().index[-1]))

test_solutions(solution_1, solution_2)

Solution 1 Time: 0.036643 seconds
Solution 2 Time: 0.067597 seconds

##### 34. Write a Pandas program to compute the autocorrelations of a given numeric series.
From Wikipedia:
Autocorrelation, also known as serial correlation, is the correlation of a signal with a delayed copy of itself as a function of delay. Informally, it is the similarity between observations as a function of the time lag between them.

In [314]:
num_series = pd.Series(np.arange(15) + np.random.normal(1, 10, 15))

print("Original series:")
print(num_series)
print()

autocorrelations = [num_series.autocorr(i).round(2) for i in range(11)]

print("Autocorrelations of the said series:")
print(autocorrelations[1:])

Original series:
0      2.653315
1     12.331566
2     11.837972
3     -3.160108
4     16.434937
5     12.370506
6      0.062853
7     -3.856980
8     -2.988221
9    -14.873330
10    22.841642
11    21.854022
12    21.990966
13    27.575356
14    -5.331305
dtype: float64

Autocorrelations of the said series:
[np.float64(0.18), np.float64(-0.02), np.float64(-0.17), np.float64(-0.73), np.float64(-0.22), np.float64(0.17), np.float64(-0.05), np.float64(0.23), np.float64(0.26), np.float64(-0.71)]

##### 35. Write a Pandas program to create a TimeSeries to display all the Sundays of given year.

In [323]:
sr = pd.Series(pd.date_range('2020-01-01', '2020-12-31', freq='W-SUN'))
print("All Sundays of 2019:")
print_series(sr)

0    2020-01-05
1    2020-01-12
2    2020-01-19
3    2020-01-26
4    2020-02-02
        ...
47   2020-11-29
48   2020-12-06
49   2020-12-13
50   2020-12-20
51   2020-12-27
dtype: datetime64[ns]

In [324]:
sr = pd.Series(pd.date_range(start='2020-01-01', periods=52, freq='W-SUN'))
print("All Sundays of 2019:")
print_series(sr)

All Sundays of 2019:
0    2020-01-05
1    2020-01-12
2    2020-01-19
3    2020-01-26
4    2020-02-02
        ...
47   2020-11-29
48   2020-12-06
49   2020-12-13
50   2020-12-20
51   2020-12-27
dtype: datetime64[ns]

##### 36. Write a Pandas program to convert given series into a dataframe with its index as another column on the dataframe.

In [328]:
sr = pd.Series({'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4})
sr.to_frame().reset_index()

  index  0
0     A  0
1     B  1
2     C  2
3     D  3
4     E  4

##### 37. Write a Pandas program to stack two given series vertically and horizontally.

In [8]:
sr1 = pd.Series(np.arange(10))
sr2 = pd.Series(['p','q','r','t','s','w','z','x','c','v'])
pd.concat([sr1, sr2], axis='columns')

   0  1
0  0  p
1  1  q
2  2  r
3  3  t
4  4  s
5  5  w
6  6  z
7  7  x
8  8  c
9  9  v

##### 38. Write a Pandas program to check the equality of two given series.

In [10]:
sr1 = pd.Series(np.arange(10))
sr2 = pd.Series(np.arange(10))
sr1 == sr2

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
dtype: bool

##### 39. Write a Pandas program to find the index of the first occurrence of the smallest and largest value of a given series.

In [21]:
sr = pd.Series(np.random.randint(0, 10, 10))
print(sr)
print(np.where(sr == sr.min())[0][0])
print(np.where(sr == sr.max())[0][0])

0    4
1    2
2    5
3    0
4    4
5    0
6    9
7    8
8    5
9    6
dtype: int32
3
6

In [23]:
sr = pd.Series(np.random.randint(0, 10, 10))
print(sr)
print(sr.idxmin())
print(sr.idxmax())

0    9
1    5
2    6
3    9
4    2
5    3
6    6
7    8
8    5
9    0
dtype: int32
9
0

##### 40. Write a Pandas program to check inequality over the index axis of a given dataframe and a given series.

In [56]:
df = pd.DataFrame({
    'W': [68, 75, 86, 80, None],
    'X': [78, 75, None, 80, 86],
    'Y': [84, 94, 89, 86, 86],
    'Z': [86, 97, 96, 72, 83]
})

sr_index = pd.Series([68, 75, 86, 80, None])

sr_columns = pd.Series([68, 75, 86, 80], index=['W', 'X', 'Y', 'Z'])

print('df')
print(df)
print()

print('sr_index')
print(sr_index)
print()

print('sr_columns')
print(sr_columns)
print()

print('inequality:')
print('index')
print(df.ne(sr_index, axis='index'))
print()

print('columns')
print(df.ne(sr_columns, axis='columns'))
print()

print('equality:')
print('index')
print(df.eq(sr_index, axis='index'))
print()

print('columns')
print(df.eq(sr_columns, axis='columns'))
print()

df
      W     X   Y   Z
0  68.0  78.0  84  86
1  75.0  75.0  94  97
2  86.0   NaN  89  96
3  80.0  80.0  86  72
4   NaN  86.0  86  83

sr_index
0    68.0
1    75.0
2    86.0
3    80.0
4     NaN
dtype: float64

sr_columns
W    68
X    75
Y    86
Z    80
dtype: int64

inequality:
index
       W      X     Y     Z
0  False   True  True  True
1  False  False  True  True
2  False   True  True  True
3  False  False  True  True
4   True   True  True  True

columns
       W      X      Y     Z
0  False   True   True  True
1   True  False   True  True
2   True   True   True  True
3   True   True  False  True
4   True   True  False  True

equality:
index
       W      X      Y      Z
0   True  False  False  False
1   True   True  False  False
2   True  False  False  False
3   True   True  False  False
4  False  False  False  False

columns
       W      X      Y      Z
0   True  False  False  False
1  False   True  False  False
2  False  False  False  False
3  False  False   True  False
4  False  False   True  False