In [1]:
import pandas as pd
import numpy as np
import timeit

pd.reset_option('display.max_rows')
pd.reset_option('display.max_columns')
pd.reset_option('display.width')

def print_series(sr: pd.Series):
    print(sr.to_string(max_rows=10, dtype=True))
    print()

def test_solutions(*solutions, df):
    for idx, solution in enumerate(solutions):
        def timed_solution():
            solution(df.copy())
            
        time = timeit.timeit(timed_solution, number=1000)
        print(f"Solution {idx + 1} Time: {time:.6f} seconds")

##### 1. Write a Pandas program to create
a) Datetime object for Jan 15 2012.

b) Specific date and time of 9:20 pm.

c) Local date and time.

d) A date without time.

e) Current date.

f) Time from a datetime.

g) Current local time.

In [11]:
display(pd.to_datetime('2012-01-15'))

display(pd.to_datetime('2012-01-15 9:20pm'))

display(pd.to_datetime('now'))

display(pd.to_datetime('2012-01-15').date())

display(pd.to_datetime('today').date())

display(pd.to_datetime('2012-01-15 9:20pm').time())

display(pd.to_datetime('today').time())

Timestamp('2012-01-15 00:00:00')

Timestamp('2012-01-15 21:20:00')

Timestamp('2024-09-01 14:44:42.213812')

datetime.date(2012, 1, 15)

datetime.date(2024, 9, 1)

datetime.time(21, 20)

datetime.time(14, 44, 42, 223810)

In [12]:
from datetime import datetime
print("Datetime object for Jan 11 2012:")
print(datetime(2012, 1, 11))

print("\nSpecific date and time of 9:20 pm") 
print(datetime(2011, 1, 11, 21, 20))

print("\nLocal date and time:")
print(datetime.now())

print("\nA date without time: ")
print(datetime.date(datetime(2012, 5, 22)))

print("\nCurrent date:")
print(datetime.now().date())

print("\nTime from a datetime:")
print(datetime.time(datetime(2012, 12, 15, 18, 12)))

print("\nCurrent local time:") 
print(datetime.now().time())

Datetime object for Jan 11 2012:
2012-01-11 00:00:00

Specific date and time of 9:20 pm
2011-01-11 21:20:00

Local date and time:
2024-09-01 14:45:20.209923

A date without time:
2012-05-22

Current date:
2024-09-01

Time from a datetime:
18:12:00

Current local time:
14:45:20.210922

##### 2. Write a Pandas program to create
a) a specific date using timestamp.

b) date and time using timestamp.

c) a time adds in the current local date using timestamp.

d) current date and time using timestamp.

In [30]:
print(pd.Timestamp('2024-01-01'))

print(pd.Timestamp('2024-01-01 15:00'))

print(pd.Timestamp('15:00'))

print(pd.Timestamp('now'))

2024-01-01 00:00:00
2024-01-01 15:00:00
2024-09-01 15:00:00
2024-09-01 16:26:08.203982

##### 3. Write a Pandas program to create a date from a given year, month, day and another date from a given string formats.

In [37]:
print(pd.Timestamp(year=2024, month=5, day=17).date())

print(pd.to_datetime('2024/05/17', format='%Y/%m/%d'))

2024-05-17
2024-05-17 00:00:00

##### 4. Write a Pandas program to print the day after and before a specified date. Also print the days between two given dates.

In [46]:
from datetime import datetime, timedelta
df = pd.DataFrame({
    'date': [datetime(2024, 9, 1)]
})

df['day_after'] = df['date'] + pd.Timedelta(days=1)
df['day_before'] = df['date'] - pd.Timedelta(days=1)
df['between'] = df['day_after'] - df['day_before']

display(df)

sr = pd.Series(pd.date_range(start='2024-09-01', end='2024-12-31'))
display(sr)

        date  day_after day_before between
0 2024-09-01 2024-09-02 2024-08-31  2 days

0     2024-09-01
1     2024-09-02
2     2024-09-03
3     2024-09-04
4     2024-09-05
         ...
117   2024-12-27
118   2024-12-28
119   2024-12-29
120   2024-12-30
121   2024-12-31
Length: 122, dtype: datetime64[ns]

##### 5. Write a Pandas program to create a time-series with two index labels and random values. Also print the type of the index.

In [52]:
sr = pd.Series(np.random.randn(30), index=pd.date_range(start='2024-09-01', freq='D', periods=30), name='time_series')
display(sr)

print(sr.index)
print(sr.index.dtype)

2024-09-01   -0.042521
2024-09-02   -0.451163
2024-09-03   -0.426700
2024-09-04    0.450893
2024-09-05   -0.245750
2024-09-06   -0.496688
2024-09-07    2.311507
2024-09-08   -0.127654
2024-09-09    0.363977
2024-09-10   -1.152977
2024-09-11   -0.302070
2024-09-12    0.353500
2024-09-13   -1.401299
2024-09-14   -1.141862
2024-09-15    0.940601
2024-09-16    0.564946
2024-09-17    1.334224
2024-09-18   -1.155791
2024-09-19   -0.859750
2024-09-20    1.642286
2024-09-21   -1.542074
2024-09-22    0.764762
2024-09-23   -0.927735
2024-09-24    1.746790
2024-09-25   -0.376667
2024-09-26   -2.538192
2024-09-27   -0.718976
2024-09-28   -0.431054
2024-09-29    0.714414
2024-09-30   -0.966243
Freq: D, Name: time-series, dtype: float64

DatetimeIndex(['2024-09-01', '2024-09-02', '2024-09-03', '2024-09-04',
               '2024-09-05', '2024-09-06', '2024-09-07', '2024-09-08',
               '2024-09-09', '2024-09-10', '2024-09-11', '2024-09-12',
               '2024-09-13', '2024-09-14', '2024-09-15', '2024-09-16',
               '2024-09-17', '2024-09-18', '2024-09-19', '2024-09-20',
               '2024-09-21', '2024-09-22', '2024-09-23', '2024-09-24',
               '2024-09-25', '2024-09-26', '2024-09-27', '2024-09-28',
               '2024-09-29', '2024-09-30'],
              dtype='datetime64[ns]', freq='D')
datetime64[ns]

In [53]:
# Creating a time-series with two index levels: date and category
dates = pd.date_range(start='2024-09-01', freq='D', periods=15)
categories = ['Category A', 'Category B']

# Creating a multi-level index
index = pd.MultiIndex.from_product([dates, categories], names=['Date', 'Category'])

# Creating a time series with random values and the multi-level index
sr = pd.Series(np.random.randn(len(index)), index=index, name='time_series')

# Displaying the series
display(sr)

# Print the index and its type
print(sr.index)
print(type(sr.index))

Date        Category
2024-09-01  Category A    0.717256
            Category B    0.105040
2024-09-02  Category A    1.684849
            Category B    0.556862
2024-09-03  Category A   -0.215758
            Category B    1.704272
2024-09-04  Category A    0.652797
            Category B    0.167786
2024-09-05  Category A    0.330368
            Category B   -0.273600
2024-09-06  Category A   -1.201990
            Category B    0.727355
2024-09-07  Category A    1.059266
            Category B   -1.900317
2024-09-08  Category A    0.453061
            Category B   -1.465647
2024-09-09  Category A   -0.469585
            Category B    1.238867
2024-09-10  Category A   -1.134186
            Category B   -0.007151
2024-09-11  Category A    0.477089
            Category B   -0.262087
2024-09-12  Category A   -0.349169
            Category B   -0.983568
2024-09-13  Category A   -0.545366
            Category B   -0.197011
2024-09-14  Category A    0.223640
            Category B    0.319011
2024-09-15  Category A    0.253615
            Category B    1.326633
Name: time_series, dtype: float64

MultiIndex([('2024-09-01', 'Category A'),
            ('2024-09-01', 'Category B'),
            ('2024-09-02', 'Category A'),
            ('2024-09-02', 'Category B'),
            ('2024-09-03', 'Category A'),
            ('2024-09-03', 'Category B'),
            ('2024-09-04', 'Category A'),
            ('2024-09-04', 'Category B'),
            ('2024-09-05', 'Category A'),
            ('2024-09-05', 'Category B'),
            ('2024-09-06', 'Category A'),
            ('2024-09-06', 'Category B'),
            ('2024-09-07', 'Category A'),
            ('2024-09-07', 'Category B'),
            ('2024-09-08', 'Category A'),
            ('2024-09-08', 'Category B'),
            ('2024-09-09', 'Category A'),
            ('2024-09-09', 'Category B'),
            ('2024-09-10', 'Category A'),
            ('2024-09-10', 'Category B'),
            ('2024-09-11', 'Category A'),
            ('2024-09-11', 'Category B'),
            ('2024-09-12', 'Category A'),
            ('2024-09-12', 'Category B'),
            ('2024-09-13', 'Category A'),
            ('2024-09-13', 'Category B'),
            ('2024-09-14', 'Category A'),
            ('2024-09-14', 'Category B'),
            ('2024-09-15', 'Category A'),
            ('2024-09-15', 'Category B')],
           names=['Date', 'Category'])
<class 'pandas.core.indexes.multi.MultiIndex'>

##### 6. Write a Pandas program to create a time-series from a given list of dates as strings.

In [55]:
sr = pd.Series(np.random.randn(2), index=pd.DatetimeIndex(['2024-01-01', '2024-01-02']))
display(sr)
display(sr.index)

2024-01-01    0.611891
2024-01-02    0.697635
dtype: float64

DatetimeIndex(['2024-01-01', '2024-01-02'], dtype='datetime64[ns]', freq=None)

##### 7. Write a Pandas program to create a time series object that has time indexed data. Also select the dates of same year and select the dates between certain dates.

In [70]:
index = pd.date_range(start='2020-01-01', end='2024-12-31', freq='ME')
sr = pd.Series(np.random.randn(len(index)), index=index)

print('Select 2024 year:')
display(sr['2024'])

print('\nSelect between "2020-01-01" and "2022-01-01":')
display(sr['2020-01-01':'2022-01-01'])

print('\nSelect between "2020" and "2022":')
display(sr['2020':'2022'])

Select 2024 year:

2024-01-31   -0.342374
2024-02-29    0.725898
2024-03-31   -2.290342
2024-04-30   -0.209626
2024-05-31    1.093987
2024-06-30    0.484995
2024-07-31    0.738039
2024-08-31    0.186936
2024-09-30   -1.104604
2024-10-31   -0.199412
2024-11-30   -0.624343
2024-12-31    0.926016
Freq: ME, dtype: float64

Select between "2020-01-01" and "2022-01-01":

2020-01-31    0.152078
2020-02-29    1.003639
2020-03-31   -0.197244
2020-04-30   -1.598904
2020-05-31    1.232384
2020-06-30   -0.480939
2020-07-31    0.987404
2020-08-31   -2.230466
2020-09-30    0.034173
2020-10-31   -0.215431
2020-11-30   -0.116451
2020-12-31   -1.791179
2021-01-31   -0.154309
2021-02-28    0.416977
2021-03-31   -0.092227
2021-04-30    0.635033
2021-05-31    0.598262
2021-06-30   -1.681754
2021-07-31   -2.510881
2021-08-31   -0.367368
2021-09-30   -0.935970
2021-10-31    0.268975
2021-11-30   -0.176305
2021-12-31   -1.875992
Freq: ME, dtype: float64

Select between "2020" and "2022":

2020-01-31    0.152078
2020-02-29    1.003639
2020-03-31   -0.197244
2020-04-30   -1.598904
2020-05-31    1.232384
2020-06-30   -0.480939
2020-07-31    0.987404
2020-08-31   -2.230466
2020-09-30    0.034173
2020-10-31   -0.215431
2020-11-30   -0.116451
2020-12-31   -1.791179
2021-01-31   -0.154309
2021-02-28    0.416977
2021-03-31   -0.092227
2021-04-30    0.635033
2021-05-31    0.598262
2021-06-30   -1.681754
2021-07-31   -2.510881
2021-08-31   -0.367368
2021-09-30   -0.935970
2021-10-31    0.268975
2021-11-30   -0.176305
2021-12-31   -1.875992
2022-01-31    1.700390
2022-02-28   -1.743789
2022-03-31    0.829804
2022-04-30    1.228896
2022-05-31   -0.447770
2022-06-30   -0.618473
2022-07-31    0.213813
2022-08-31    1.182670
2022-09-30    0.008695
2022-10-31    1.775591
2022-11-30   -0.209206
2022-12-31   -0.145939
Freq: ME, dtype: float64

##### 8. Write a Pandas program to create a date range using a startpoint date and a number of periods.

In [71]:
dates = pd.date_range(start='2024-09-01', periods=30)
dates

DatetimeIndex(['2024-09-01', '2024-09-02', '2024-09-03', '2024-09-04',
               '2024-09-05', '2024-09-06', '2024-09-07', '2024-09-08',
               '2024-09-09', '2024-09-10', '2024-09-11', '2024-09-12',
               '2024-09-13', '2024-09-14', '2024-09-15', '2024-09-16',
               '2024-09-17', '2024-09-18', '2024-09-19', '2024-09-20',
               '2024-09-21', '2024-09-22', '2024-09-23', '2024-09-24',
               '2024-09-25', '2024-09-26', '2024-09-27', '2024-09-28',
               '2024-09-29', '2024-09-30'],
              dtype='datetime64[ns]', freq='D')

##### 9. Write a Pandas program to create a whole month of dates in daily frequencies. Also find the maximum, minimum timestamp and indexs.

In [75]:
dates = pd.date_range(start='2024-09-01', end='2024-09-30')
display(dates)

print("\nMin:")
min_date = dates.min()
print(min_date)
print(dates.get_loc(min_date))

print("\nMax:")
max_date = dates.max()
print(max_date)
print(dates.get_loc(max_date))

DatetimeIndex(['2024-09-01', '2024-09-02', '2024-09-03', '2024-09-04',
               '2024-09-05', '2024-09-06', '2024-09-07', '2024-09-08',
               '2024-09-09', '2024-09-10', '2024-09-11', '2024-09-12',
               '2024-09-13', '2024-09-14', '2024-09-15', '2024-09-16',
               '2024-09-17', '2024-09-18', '2024-09-19', '2024-09-20',
               '2024-09-21', '2024-09-22', '2024-09-23', '2024-09-24',
               '2024-09-25', '2024-09-26', '2024-09-27', '2024-09-28',
               '2024-09-29', '2024-09-30'],
              dtype='datetime64[ns]', freq='D')

Min:
2024-09-01 00:00:00
0

AttributeError: 'DatetimeIndex' object has no attribute 'idxmin'

In [76]:
dates = pd.Series(pd.date_range('2020-12-01',periods=31, freq='D'))

print("Month of December 2020:")
print(dates)

dates = pd.Series(pd.date_range('2020-12-01',periods=31, freq='D'))

print("\nMaximum date: ", dates.max())
print("Minimum date: ", dates.min())

print("Maximum index: ", dates.idxmax())
print("Minimum index: ", dates.idxmin())

Month of December 2020:
0    2020-12-01
1    2020-12-02
2    2020-12-03
3    2020-12-04
4    2020-12-05
5    2020-12-06
6    2020-12-07
7    2020-12-08
8    2020-12-09
9    2020-12-10
10   2020-12-11
11   2020-12-12
12   2020-12-13
13   2020-12-14
14   2020-12-15
15   2020-12-16
16   2020-12-17
17   2020-12-18
18   2020-12-19
19   2020-12-20
20   2020-12-21
21   2020-12-22
22   2020-12-23
23   2020-12-24
24   2020-12-25
25   2020-12-26
26   2020-12-27
27   2020-12-28
28   2020-12-29
29   2020-12-30
30   2020-12-31
dtype: datetime64[ns]

Maximum date:  2020-12-31 00:00:00
Minimum date:  2020-12-01 00:00:00
Maximum index:  30
Minimum index:  0

##### 10. Write a Pandas program to create a time series using three months frequency.

In [81]:
index = pd.date_range(start='2024-03-31', end='2024-12-31', freq='3ME')

sr = pd.Series(np.random.randn(index.size), index=index)
sr

2024-03-31    0.372608
2024-06-30    0.058903
2024-09-30    1.322300
2024-12-31    1.409761
Freq: 3ME, dtype: float64

##### 11. Write a Pandas program to create a sequence of durations increasing by an hour.

In [85]:
index = pd.timedelta_range(0, periods=24, freq='h')
index

TimedeltaIndex(['0 days 00:00:00', '0 days 01:00:00', '0 days 02:00:00',
                '0 days 03:00:00', '0 days 04:00:00', '0 days 05:00:00',
                '0 days 06:00:00', '0 days 07:00:00', '0 days 08:00:00',
                '0 days 09:00:00', '0 days 10:00:00', '0 days 11:00:00',
                '0 days 12:00:00', '0 days 13:00:00', '0 days 14:00:00',
                '0 days 15:00:00', '0 days 16:00:00', '0 days 17:00:00',
                '0 days 18:00:00', '0 days 19:00:00', '0 days 20:00:00',
                '0 days 21:00:00', '0 days 22:00:00', '0 days 23:00:00'],
               dtype='timedelta64[ns]', freq='h')

##### 12. Write a Pandas program to convert year and day of year into a single datetime column of a dataframe.

In [100]:
from datetime import datetime

df = pd.DataFrame({
    'year': np.random.randint(2000, 2024, size=10),
    'day_of_year': np.random.randint(1, 365, size=10)
}, dtype=str)

print('Origin DataFrame:')
display(df)

print()
display(pd.to_datetime(df['year'].str.cat(df['day_of_year']), format='%Y%j'))

print()
display(pd.to_datetime(df['year'].astype(str) + '-' + df['day_of_year'], format='%Y-%j'))

Origin DataFrame:

   year day_of_year
0  2023         178
1  2014         204
2  2020         289
3  2014         141
4  2000          63
5  2015         314
6  2014         169
7  2022          56
8  2008          34
9  2009          88

0   2023-06-27
1   2014-07-23
2   2020-10-15
3   2014-05-21
4   2000-03-03
5   2015-11-10
6   2014-06-18
7   2022-02-25
8   2008-02-03
9   2009-03-29
Name: year, dtype: datetime64[ns]

0   2023-06-27
1   2014-07-23
2   2020-10-15
3   2014-05-21
4   2000-03-03
5   2015-11-10
6   2014-06-18
7   2022-02-25
8   2008-02-03
9   2009-03-29
dtype: datetime64[ns]

##### 13. Write a Pandas program to create a series of Timestamps from a DataFrame of integer or string columns. Also create a series of Timestamps using specified columns.

In [107]:
# Example DataFrame with integer columns for year, month, and day
df = pd.DataFrame({
    'year': [2024, 2024],
    'month': [9, 10],
    'day': [1, 15]
})

# Create a series of Timestamps
timestamps = pd.to_datetime(df[['year', 'month', 'day']])
print(timestamps)

0   2024-09-01
1   2024-10-15
dtype: datetime64[ns]

In [108]:
# Example DataFrame with various date-related columns
df = pd.DataFrame({
    'date': ['2024-09-01', '2024-10-15'],
    'time': ['10:00', '15:30']
})

# Create a series of Timestamps using the 'date' and 'time' columns
timestamps = pd.to_datetime(df['date'] + ' ' + df['time'])
print(timestamps)

0   2024-09-01 10:00:00
1   2024-10-15 15:30:00
dtype: datetime64[ns]

##### 14. Write a Pandas program to check if a day is a business day (weekday) or not.

In [117]:
sr = pd.Series(pd.date_range('2024-09-01', periods=30))
sr.dt.weekday.apply(lambda i: 0 <= i <5)

0     False
1      True
2      True
3      True
4      True
5      True
6     False
7     False
8      True
9      True
10     True
11     True
12     True
13    False
14    False
15     True
16     True
17     True
18     True
19     True
20    False
21    False
22     True
23     True
24     True
25     True
26     True
27    False
28    False
29     True
dtype: bool

In [118]:
def is_business_day(date):
    return bool(len(pd.bdate_range(date, date)))
print("Check busines day or not?")
print('2020-12-01: ',is_business_day('2020-12-01'))
print('2020-12-06: ',is_business_day('2020-12-06'))
print('2020-12-07: ',is_business_day('2020-12-07'))
print('2020-12-08: ',is_business_day('2020-12-08'))

Check busines day or not?
2020-12-01:  True
2020-12-06:  False
2020-12-07:  True
2020-12-08:  True

##### 15. Write a Pandas program to get a time series with the last working days of each month of a specific year.

In [125]:
dates = pd.bdate_range('2024', periods=12, freq='BME')
dates

DatetimeIndex(['2024-01-31', '2024-02-29', '2024-03-29', '2024-04-30',
               '2024-05-31', '2024-06-28', '2024-07-31', '2024-08-30',
               '2024-09-30', '2024-10-31', '2024-11-29', '2024-12-31'],
              dtype='datetime64[ns]', freq='BME')

##### 16. Write a Pandas program to create a time series combining hour and minute.

In [135]:
import datetime
index = [
    datetime.time(hour=0, minute=0),
    datetime.time(hour=0, minute=30),
    datetime.time(hour=1, minute=0),
    datetime.time(hour=1, minute=30),
    datetime.time(hour=2, minute=0),
    datetime.time(hour=2, minute=30),
    datetime.time(hour=3, minute=0),
    datetime.time(hour=3, minute=30),
    datetime.time(hour=4, minute=0),
    datetime.time(hour=4, minute=30),
    datetime.time(hour=5, minute=0),
    datetime.time(hour=5, minute=30),
]
sr = pd.Series(np.random.randn(len(index)),index=index)
sr

00:00:00   -0.036457
00:30:00    1.454585
01:00:00   -1.081592
01:30:00   -0.362799
02:00:00   -0.785738
02:30:00    0.609846
03:00:00   -1.554559
03:30:00    0.383472
04:00:00   -1.501047
04:30:00   -0.920676
05:00:00   -0.023774
05:30:00    0.242018
dtype: float64

In [137]:
result = pd.timedelta_range(0, periods=30, freq="1h20min")
print("For a frequency of 1 hours 20 minutes, here we have combined the hour (H) and minute (T):\n")
print(result)

For a frequency of 1 hours 20 minutes, here we have combined the hour (H) and minute (T):

TimedeltaIndex(['0 days 00:00:00', '0 days 01:20:00', '0 days 02:40:00',
                '0 days 04:00:00', '0 days 05:20:00', '0 days 06:40:00',
                '0 days 08:00:00', '0 days 09:20:00', '0 days 10:40:00',
                '0 days 12:00:00', '0 days 13:20:00', '0 days 14:40:00',
                '0 days 16:00:00', '0 days 17:20:00', '0 days 18:40:00',
                '0 days 20:00:00', '0 days 21:20:00', '0 days 22:40:00',
                '1 days 00:00:00', '1 days 01:20:00', '1 days 02:40:00',
                '1 days 04:00:00', '1 days 05:20:00', '1 days 06:40:00',
                '1 days 08:00:00', '1 days 09:20:00', '1 days 10:40:00',
                '1 days 12:00:00', '1 days 13:20:00', '1 days 14:40:00'],
               dtype='timedelta64[ns]', freq='80min')

##### 17. Write a Pandas program to convert unix/epoch time to a regular time stamp in UTC. Also convert the said timestamp in to a given time zone.

In [153]:
utc = pd.to_datetime(1725214293, unit='s', origin='unix', utc=True)

display(utc)

tz_msc = pd.Timestamp(utc).tz_convert('Europe/Moscow')
display(tz_msc)

Timestamp('2024-09-01 18:11:33+0000', tz='UTC')

Timestamp('2024-09-01 21:11:33+0300', tz='Europe/Moscow')

In [152]:
epoch_t = 1621132355

time_stamp = pd.to_datetime(epoch_t, unit='s')

# UTC (Coordinated Universal Time) is one of the well-known names of UTC+0 time zone which is 0h.
# By default, time series objects of pandas do not have an assigned time zone.
print("Regular time stamp in UTC:")
print(time_stamp)

print("\nConvert the said timestamp in to US/Pacific:")
print(time_stamp.tz_localize('UTC').tz_convert('US/Pacific'))

print("\nConvert the said timestamp in to Europe/Berlin:")
print(time_stamp.tz_localize('UTC').tz_convert('Europe/Berlin'))

Regular time stamp in UTC:
2021-05-16 02:32:35

Convert the said timestamp in to US/Pacific:
2021-05-15 19:32:35-07:00

Convert the said timestamp in to Europe/Berlin:
2021-05-16 04:32:35+02:00

##### 18. Write a Pandas program to create a time series object with a time zone.

In [155]:
sr = pd.Series(pd.date_range('2024', periods=10, freq='6h', tz='Europe/Moscow'))
sr

0   2024-01-01 00:00:00+03:00
1   2024-01-01 06:00:00+03:00
2   2024-01-01 12:00:00+03:00
3   2024-01-01 18:00:00+03:00
4   2024-01-02 00:00:00+03:00
5   2024-01-02 06:00:00+03:00
6   2024-01-02 12:00:00+03:00
7   2024-01-02 18:00:00+03:00
8   2024-01-03 00:00:00+03:00
9   2024-01-03 06:00:00+03:00
dtype: datetime64[ns, Europe/Moscow]

In [156]:
print("Timezone: Europe/Berlin:")

print("Using pytz:")
date_pytz = pd.Timestamp('2019-01-01', tz = 'Europe/Berlin')
print(date_pytz.tz)  

print("Using dateutil:")
date_util = pd.Timestamp('2019-01-01', tz = 'dateutil/Europe/Berlin')
print(date_util.tz)

print("\nUS/Pacific:")

print("Using pytz:")
date_pytz = pd.Timestamp('2019-01-01', tz = 'US/Pacific')
print(date_pytz.tz)

print("Using dateutil:")
date_util = pd.Timestamp('2019-01-01', tz = 'dateutil/US/Pacific')
print(date_util.tz)

Timezone: Europe/Berlin:
Using pytz:
Europe/Berlin
Using dateutil:
tzfile('Atlantic/Jan_Mayen')

US/Pacific:
Using pytz:
US/Pacific
Using dateutil:
tzfile('America/Los_Angeles')

##### 19. Write a Pandas program to remove the time zone information from a Time series data.

In [169]:
date = pd.Timestamp('2024-09-01 21:35', tz = 'Europe/Moscow')
print(date)
print()
print(date.tz_convert(tz=None))
print()
print(date.tz_localize(None))

sr = pd.Series(pd.date_range('2024', periods=10, freq='6h', tz='Europe/Moscow'))
print()
display(sr)
print()
display(sr.dt.tz_convert(tz=None))
print()
display(sr.dt.tz_localize(None))

2024-09-01 21:35:00+03:00

2024-09-01 18:35:00

2024-09-01 21:35:00

0   2024-01-01 00:00:00+03:00
1   2024-01-01 06:00:00+03:00
2   2024-01-01 12:00:00+03:00
3   2024-01-01 18:00:00+03:00
4   2024-01-02 00:00:00+03:00
5   2024-01-02 06:00:00+03:00
6   2024-01-02 12:00:00+03:00
7   2024-01-02 18:00:00+03:00
8   2024-01-03 00:00:00+03:00
9   2024-01-03 06:00:00+03:00
dtype: datetime64[ns, Europe/Moscow]

0   2023-12-31 21:00:00
1   2024-01-01 03:00:00
2   2024-01-01 09:00:00
3   2024-01-01 15:00:00
4   2024-01-01 21:00:00
5   2024-01-02 03:00:00
6   2024-01-02 09:00:00
7   2024-01-02 15:00:00
8   2024-01-02 21:00:00
9   2024-01-03 03:00:00
dtype: datetime64[ns]

0   2024-01-01 00:00:00
1   2024-01-01 06:00:00
2   2024-01-01 12:00:00
3   2024-01-01 18:00:00
4   2024-01-02 00:00:00
5   2024-01-02 06:00:00
6   2024-01-02 12:00:00
7   2024-01-02 18:00:00
8   2024-01-03 00:00:00
9   2024-01-03 06:00:00
dtype: datetime64[ns]

##### 20. Write a Pandas program to subtract two timestamps of same time zone or different time zone.

In [171]:
date_msc1 = pd.Timestamp('05:00', tz='Europe/Moscow')
date_msc2 = pd.Timestamp('10:00', tz='Europe/Moscow')

date_us = pd.Timestamp('10:00', tz='US/Pacific')
print(date_msc1)
print(date_msc2)
print(date_us)

print(date_msc2 - date_msc1)

print(date_us - date_msc1)

2024-09-01 05:00:00+03:00
2024-09-01 10:00:00+03:00
2024-09-01 10:00:00-07:00
0 days 05:00:00
0 days 15:00:00

In [172]:
print("Subtract two timestamps of same time zone:")

date1 = pd.Timestamp('2019-03-01 12:00', tz='US/Eastern')
date2 = pd.Timestamp('2019-04-01 07:00', tz='US/Eastern')

print("Difference: ", (date2-date1))

print("\nSubtract two timestamps of different time zone:")

date1 = pd.Timestamp('2019-03-01 12:00', tz='US/Eastern')
date2 = pd.Timestamp('2019-03-01 07:00', tz='US/Pacific')

# Remove the time zone and do the subtraction
print("Difference: ", (date1.tz_localize(None) - date2.tz_localize(None)))

Subtract two timestamps of same time zone:
Difference:  30 days 18:00:00

Subtract two timestamps of different time zone:
Difference:  0 days 05:00:00

##### 21. Write a Pandas program to calculate all Thursdays between two given days.

In [177]:
sr = pd.Series(pd.date_range(start='2024-06-01', end='2024-08-31', freq='W-THU'))
display(sr)
print(f'\nCount of thursdays between 2024-06-31 and 2024-08-31: {sr.size}')

0    2024-06-06
1    2024-06-13
2    2024-06-20
3    2024-06-27
4    2024-07-04
5    2024-07-11
6    2024-07-18
7    2024-07-25
8    2024-08-01
9    2024-08-08
10   2024-08-15
11   2024-08-22
12   2024-08-29
dtype: datetime64[ns]

Count of thursdays between 2024-06-31 and 2024-08-31: 13

##### 22. Write a Pandas program to find the all the business quarterly begin and end dates of a specified year.

In [189]:
display(pd.date_range('2024', periods=4, freq='BQS-JAN'))
display(pd.date_range('2024', periods=4, freq='BQE-DEC'))

DatetimeIndex(['2024-01-01', '2024-04-01', '2024-07-01', '2024-10-01'], dtype='datetime64[ns]', freq='BQS-JAN')

DatetimeIndex(['2024-03-29', '2024-06-28', '2024-09-30', '2024-12-31'], dtype='datetime64[ns]', freq='BQE-DEC')

##### 23. Write a Pandas program to generate sequences of fixed-frequency dates and time spans intervals.

In [8]:
display(pd.date_range('2024', periods=366, freq='D'))
display(pd.timedelta_range('2024', periods=10, freq='D'))

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06', '2024-01-07', '2024-01-08',
               '2024-01-09', '2024-01-10',
               ...
               '2024-12-22', '2024-12-23', '2024-12-24', '2024-12-25',
               '2024-12-26', '2024-12-27', '2024-12-28', '2024-12-29',
               '2024-12-30', '2024-12-31'],
              dtype='datetime64[ns]', length=366, freq='D')

TimedeltaIndex(['0 days 00:00:00.000002024', '1 days 00:00:00.000002024',
                '2 days 00:00:00.000002024', '3 days 00:00:00.000002024',
                '4 days 00:00:00.000002024', '5 days 00:00:00.000002024',
                '6 days 00:00:00.000002024', '7 days 00:00:00.000002024',
                '8 days 00:00:00.000002024', '9 days 00:00:00.000002024'],
               dtype='timedelta64[ns]', freq='D')

##### 24. Write a Pandas program to generate time series combining day and intraday offsets intervals.

In [10]:
pd.date_range('2024-09-02', periods=24, freq='h')

DatetimeIndex(['2024-09-02 00:00:00', '2024-09-02 01:00:00',
               '2024-09-02 02:00:00', '2024-09-02 03:00:00',
               '2024-09-02 04:00:00', '2024-09-02 05:00:00',
               '2024-09-02 06:00:00', '2024-09-02 07:00:00',
               '2024-09-02 08:00:00', '2024-09-02 09:00:00',
               '2024-09-02 10:00:00', '2024-09-02 11:00:00',
               '2024-09-02 12:00:00', '2024-09-02 13:00:00',
               '2024-09-02 14:00:00', '2024-09-02 15:00:00',
               '2024-09-02 16:00:00', '2024-09-02 17:00:00',
               '2024-09-02 18:00:00', '2024-09-02 19:00:00',
               '2024-09-02 20:00:00', '2024-09-02 21:00:00',
               '2024-09-02 22:00:00', '2024-09-02 23:00:00'],
              dtype='datetime64[ns]', freq='h')

In [12]:
dateset1 = pd.date_range('2029-01-01 00:00:00', periods=20, freq='3h10min')
print("Time series with frequency 3h10min:")
print(dateset1)

dateset2 = pd.date_range('2029-01-01 00:00:00', periods=20, freq='1D10min20us')
print("\nTime series with frequency 1 day 10 minutes and 20 microseconds:")
print(dateset2)

Time series with frequency 3h10min:
DatetimeIndex(['2029-01-01 00:00:00', '2029-01-01 03:10:00',
               '2029-01-01 06:20:00', '2029-01-01 09:30:00',
               '2029-01-01 12:40:00', '2029-01-01 15:50:00',
               '2029-01-01 19:00:00', '2029-01-01 22:10:00',
               '2029-01-02 01:20:00', '2029-01-02 04:30:00',
               '2029-01-02 07:40:00', '2029-01-02 10:50:00',
               '2029-01-02 14:00:00', '2029-01-02 17:10:00',
               '2029-01-02 20:20:00', '2029-01-02 23:30:00',
               '2029-01-03 02:40:00', '2029-01-03 05:50:00',
               '2029-01-03 09:00:00', '2029-01-03 12:10:00'],
              dtype='datetime64[ns]', freq='190min')

Time series with frequency 1 day 10 minutes and 20 microseconds:
DatetimeIndex([       '2029-01-01 00:00:00', '2029-01-02 00:10:00.000020',
               '2029-01-03 00:20:00.000040', '2029-01-04 00:30:00.000060',
               '2029-01-05 00:40:00.000080', '2029-01-06 00:50:00.000100',
               '2029-01-07 01:00:00.000120', '2029-01-08 01:10:00.000140',
               '2029-01-09 01:20:00.000160', '2029-01-10 01:30:00.000180',
               '2029-01-11 01:40:00.000200', '2029-01-12 01:50:00.000220',
               '2029-01-13 02:00:00.000240', '2029-01-14 02:10:00.000260',
               '2029-01-15 02:20:00.000280', '2029-01-16 02:30:00.000300',
               '2029-01-17 02:40:00.000320', '2029-01-18 02:50:00.000340',
               '2029-01-19 03:00:00.000360', '2029-01-20 03:10:00.000380'],
              dtype='datetime64[ns]', freq='87000000020us')

##### 25. Write a Pandas program to extract the day name from a specified date. Add 2 days and 1 business day with the specified date.

In [24]:
date = pd.Timestamp('2024-09-06')

print(f'Date: {date}') 
print(f'Day name: {date.day_name()}')
days2 = pd.Timedelta(unit='D', value=2)
print(days2)
print(f'Add two days: {date + days2}')
bdate = pd.offsets.BDay()
print(bdate)
print(f'Add business dat: {date + bdate}')

Date: 2024-09-06 00:00:00
Day name: Friday
2 days 00:00:00
Add two days: 2024-09-08 00:00:00
<BusinessDay>
Add business dat: 2024-09-09 00:00:00

##### 26. Write a Pandas program to convert integer or float epoch times to Timestamp and DatetimeIndex.

In [31]:
timestamp = pd.Timestamp(1725249235, unit='s')
print(timestamp)
index = pd.DatetimeIndex([timestamp])
index

2024-09-02 03:53:55

DatetimeIndex(['2024-09-02 03:53:55'], dtype='datetime64[ns]', freq=None)

In [32]:
timestamp = pd.to_datetime(1725249235, unit='s')
print(timestamp)
index = pd.to_datetime([1725249235], unit='s')
print(index)

2024-09-02 03:53:55
DatetimeIndex(['2024-09-02 03:53:55'], dtype='datetime64[ns]', freq=None)

In [33]:
dates1 = pd.to_datetime([1329806505, 129806505, 1249892905,
                1249979305, 1250065705], unit='s')
print("Convert integer or float epoch times to Timestamp and DatetimeIndex upto second:")
print(dates1)
print("\nConvert integer or float epoch times to Timestamp and DatetimeIndex upto milisecond:")
dates2 = pd.to_datetime([1249720105100, 1249720105200, 1249720105300,
                1249720105400, 1249720105500], unit='ms')
print(dates2)

Convert integer or float epoch times to Timestamp and DatetimeIndex upto second:
DatetimeIndex(['2012-02-21 06:41:45', '1974-02-11 09:21:45',
               '2009-08-10 08:28:25', '2009-08-11 08:28:25',
               '2009-08-12 08:28:25'],
              dtype='datetime64[ns]', freq=None)

Convert integer or float epoch times to Timestamp and DatetimeIndex upto milisecond:
DatetimeIndex(['2009-08-08 08:28:25.100000', '2009-08-08 08:28:25.200000',
               '2009-08-08 08:28:25.300000', '2009-08-08 08:28:25.400000',
               '2009-08-08 08:28:25.500000'],
              dtype='datetime64[ns]', freq=None)

##### 27. Write a Pandas program to calculate one, two, three business day(s) from a specified date. Also find the next business month end from a specific date.

In [40]:
date = pd.Timestamp('2024-09-02')
print(date)
bdate = pd.offsets.BDay()
print(f'One business day from date: {date + bdate}')
print(f'Two business days from date: {date + 2*bdate}')
print(f'Three business days from date: {date + 3*bdate}')
next_bdate_end_of_month = pd.offsets.BMonthEnd()
print(f'The next business month end from date: {date + next_bdate_end_of_month}')

2024-09-02 00:00:00
One business day from date: 2024-09-03 00:00:00
Two business days from date: 2024-09-04 00:00:00
Three business days from date: 2024-09-05 00:00:00
The next business month end from date: 2024-09-30 00:00:00

##### 28. Write a Pandas program to create a period index represent all monthly boundaries of a given year. Also print start and end time for each period object in the said index.

In [49]:
index = pd.period_range('2024', periods=12, freq='M')
display(index)

index_start = pd.DatetimeIndex([period.start_time for period in index])
display(index_start)

index_end = pd.DatetimeIndex([period.end_time for period in index])
display(index_end)

df = pd.DataFrame({
    'start_time': index_start,
    'end_time': index_end
}, index=index)
display(df)
display(df.info())

PeriodIndex(['2024-01', '2024-02', '2024-03', '2024-04', '2024-05', '2024-06',
             '2024-07', '2024-08', '2024-09', '2024-10', '2024-11', '2024-12'],
            dtype='period[M]')

DatetimeIndex(['2024-01-01', '2024-02-01', '2024-03-01', '2024-04-01',
               '2024-05-01', '2024-06-01', '2024-07-01', '2024-08-01',
               '2024-09-01', '2024-10-01', '2024-11-01', '2024-12-01'],
              dtype='datetime64[ns]', freq=None)

DatetimeIndex(['2024-01-31 23:59:59.999999999',
               '2024-02-29 23:59:59.999999999',
               '2024-03-31 23:59:59.999999999',
               '2024-04-30 23:59:59.999999999',
               '2024-05-31 23:59:59.999999999',
               '2024-06-30 23:59:59.999999999',
               '2024-07-31 23:59:59.999999999',
               '2024-08-31 23:59:59.999999999',
               '2024-09-30 23:59:59.999999999',
               '2024-10-31 23:59:59.999999999',
               '2024-11-30 23:59:59.999999999',
               '2024-12-31 23:59:59.999999999'],
              dtype='datetime64[ns]', freq=None)

        start_time                      end_time
2024-01 2024-01-01 2024-01-31 23:59:59.999999999
2024-02 2024-02-01 2024-02-29 23:59:59.999999999
2024-03 2024-03-01 2024-03-31 23:59:59.999999999
2024-04 2024-04-01 2024-04-30 23:59:59.999999999
2024-05 2024-05-01 2024-05-31 23:59:59.999999999
2024-06 2024-06-01 2024-06-30 23:59:59.999999999
2024-07 2024-07-01 2024-07-31 23:59:59.999999999
2024-08 2024-08-01 2024-08-31 23:59:59.999999999
2024-09 2024-09-01 2024-09-30 23:59:59.999999999
2024-10 2024-10-01 2024-10-31 23:59:59.999999999
2024-11 2024-11-01 2024-11-30 23:59:59.999999999
2024-12 2024-12-01 2024-12-31 23:59:59.999999999

<class 'pandas.core.frame.DataFrame'>
PeriodIndex: 12 entries, 2024-01 to 2024-12
Freq: M
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   start_time  12 non-null     datetime64[ns]
 1   end_time    12 non-null     datetime64[ns]
dtypes: datetime64[ns](2)
memory usage: 288.0 bytes

None

##### 29.  Write a Pandas program create a series with a PeriodIndex which represents all the calendar month periods in 2029 and 2031. Also print the values for all periods in 2030.
Note: PeriodIndex is an immutable ndarray holding ordinal values indicating regular periods in time such as particular years, quarters, months, etc.

In [64]:
index = pd.period_range(start='2029', end='2031', freq='M')
display(index)
display(index[index.year == 2030])

sr = pd.Series(np.random.randn(index.size), index=index)
display(sr)
display(sr['2030'].index)

PeriodIndex(['2029-01', '2029-02', '2029-03', '2029-04', '2029-05', '2029-06',
             '2029-07', '2029-08', '2029-09', '2029-10', '2029-11', '2029-12',
             '2030-01', '2030-02', '2030-03', '2030-04', '2030-05', '2030-06',
             '2030-07', '2030-08', '2030-09', '2030-10', '2030-11', '2030-12',
             '2031-01'],
            dtype='period[M]')

PeriodIndex(['2030-01', '2030-02', '2030-03', '2030-04', '2030-05', '2030-06',
             '2030-07', '2030-08', '2030-09', '2030-10', '2030-11', '2030-12'],
            dtype='period[M]')

2029-01   -0.644509
2029-02    1.236877
2029-03    2.658871
2029-04   -1.590509
2029-05    0.744382
2029-06   -0.120990
2029-07   -0.224292
2029-08    0.292080
2029-09   -1.377182
2029-10    0.706350
2029-11    0.499048
2029-12    0.341604
2030-01   -0.978569
2030-02   -0.500669
2030-03   -0.647460
2030-04    1.371048
2030-05   -0.006024
2030-06   -1.225059
2030-07   -0.939750
2030-08    1.009095
2030-09    1.407503
2030-10   -0.952800
2030-11    0.032982
2030-12    0.563305
2031-01   -0.982638
Freq: M, dtype: float64

PeriodIndex(['2030-01', '2030-02', '2030-03', '2030-04', '2030-05', '2030-06',
             '2030-07', '2030-08', '2030-09', '2030-10', '2030-11', '2030-12'],
            dtype='period[M]')

##### 30. Write a Pandas program to generate holidays between two dates using the US federal holiday calendar.

In [68]:
from pandas.tseries.holiday import USFederalHolidayCalendar
bmth_us = pd.offsets.CustomBusinessDay(calendar=USFederalHolidayCalendar())

index = pd.date_range('2024-01-01', '2024-12-31', freq=bmth_us)
display(index)

DatetimeIndex(['2024-01-02', '2024-01-03', '2024-01-04', '2024-01-05',
               '2024-01-08', '2024-01-09', '2024-01-10', '2024-01-11',
               '2024-01-12', '2024-01-16',
               ...
               '2024-12-17', '2024-12-18', '2024-12-19', '2024-12-20',
               '2024-12-23', '2024-12-24', '2024-12-26', '2024-12-27',
               '2024-12-30', '2024-12-31'],
              dtype='datetime64[ns]', length=251, freq='C')

In [73]:
from pandas.tseries.holiday import *
from datetime import datetime

sdt = datetime(2024, 1, 1)
edt = datetime(2024, 12, 31)

print("Holidays between 2021-01-01 and 2030-12-31 using the US federal holiday calendar.")

cal = USFederalHolidayCalendar()
for dt in cal.holidays(start=sdt, end=edt): 
    print (dt)

print(cal.holidays(start=sdt, end=edt))

Holidays between 2021-01-01 and 2030-12-31 using the US federal holiday calendar.
2024-01-01 00:00:00
2024-01-15 00:00:00
2024-02-19 00:00:00
2024-05-27 00:00:00
2024-06-19 00:00:00
2024-07-04 00:00:00
2024-09-02 00:00:00
2024-10-14 00:00:00
2024-11-11 00:00:00
2024-11-28 00:00:00
2024-12-25 00:00:00
DatetimeIndex(['2024-01-01', '2024-01-15', '2024-02-19', '2024-05-27',
               '2024-06-19', '2024-07-04', '2024-09-02', '2024-10-14',
               '2024-11-11', '2024-11-28', '2024-12-25'],
              dtype='datetime64[ns]', freq=None)

##### 31. Write a Pandas program to create a monthly time period and display the list of names in the current local scope.

In [86]:
index = pd.period_range('2024', periods=12, freq='M')
display(index)

for period in index:
    print(period.strftime('%B'))

names = [period.strftime('%B') for period in index]
display(names)

PeriodIndex(['2024-01', '2024-02', '2024-03', '2024-04', '2024-05', '2024-06',
             '2024-07', '2024-08', '2024-09', '2024-10', '2024-11', '2024-12'],
            dtype='period[M]')

January
February
March
April
May
June
July
August
September
October
November
December

['January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October',
 'November',
 'December']

##### 32. Write a Pandas program to create a yearly time period from a specified year and display the properties of this period.

In [90]:
year = pd.Period(year=2024, freq='Y')
display(year)
display(year.start_time)
display(year.end_time)
display(dir(year))

Period('2024', 'Y-DEC')

Timestamp('2024-01-01 00:00:00')

Timestamp('2024-12-31 23:59:59.999999999')

['__add__',
 '__annotations__',
 '__array_priority__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_cython__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__setstate_cython__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_add_offset',
 '_add_timedeltalike_scalar',
 '_dtype',
 '_from_ordinal',
 '_maybe_convert_freq',
 '_require_matching_freq',
 'asfreq',
 'day',
 'day_of_week',
 'day_of_year',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']