In [2]:
import pandas as pd
import numpy as np
import timeit

def test_solutions(*solutions, df, number):
    for idx, solution in enumerate(solutions):
        def timed_solution():
            solution(df.copy())
            
        time = timeit.timeit(timed_solution, number=number)
        print(f"Solution {idx + 1} Time: {time:.6f} seconds")

##### 1. Create a dataframe of ten rows, four columns with random values. Write a Pandas program to highlight the negative numbers red and positive numbers black.

In [20]:
df = pd.concat([pd.DataFrame({'A': np.arange(1,11)}), pd.DataFrame(np.random.randn(10, 4), columns=list('BCDE'))], axis=1)
def color_positive_negative(val):
    if val > 0:
        color = 'black'
    else:
        color = 'red'
    return f'color: {color}'

df.style.map(color_positive_negative)

In [14]:
np.random.seed(24)
df = pd.DataFrame({'A': np.linspace(1, 10, 10)})
df = pd.concat([df, pd.DataFrame(np.random.randn(10, 4), columns=list('BCDE'))],
               axis=1)

print("Original array:")
print(df)

def color_negative_red(val):
    color = 'red' if val < 0 else 'black'
    return 'color: %s' % color

print("\nNegative numbers red and positive numbers black:")
df.style.map(color_negative_red)

Original array:
      A         B         C         D         E
0   1.0  1.329212 -0.770033 -0.316280 -0.990810
1   2.0 -1.070816 -1.438713  0.564417  0.295722
2   3.0 -1.626404  0.219565  0.678805  1.889273
3   4.0  0.961538  0.104011 -0.481165  0.850229
4   5.0  1.453425  1.057737  0.165562  0.515018
5   6.0 -1.336936  0.562861  1.392855 -0.063328
6   7.0  0.121668  1.207603 -0.002040  1.627796
7   8.0  0.354493  1.037528 -0.385684  0.519818
8   9.0  1.686583 -1.325963  1.428984 -2.089354
9  10.0 -0.129820  0.631523 -0.586538  0.290720

Negative numbers red and positive numbers black:

##### 2. Create a dataframe of ten rows, four columns with random values. Convert some values to nan values. Write a Pandas program which will highlight the nan values.

In [31]:
data = np.random.randn(10, 4)
index_nan = np.random.choice(data.size, 5, replace=False)
data.ravel()[index_nan] = np.nan

df = pd.concat(
    [
        pd.DataFrame({'A': np.arange(1,11)}), 
        pd.DataFrame(data, columns=list('BCDE'))
    ], axis=1
)

df.style.highlight_null()

##### 3. Create a dataframe of ten rows, four columns with random values. Write a Pandas program to highlight the maximum value in each column.

In [42]:
data = np.random.randn(10, 4)

df = pd.concat(
    [
        pd.DataFrame({'A': np.arange(1,11)}), 
        pd.DataFrame(data, columns=list('BCDE'))
    ], axis=1
)
df.style.highlight_max(color='green', subset=list('BCDE'))

In [44]:
np.random.seed(24)
df = pd.DataFrame({'A': np.linspace(1, 10, 10)})
df = pd.concat([df, pd.DataFrame(np.random.randn(10, 4), columns=list('BCDE'))],
               axis=1)
df.iloc[0, 2] = np.nan
df.iloc[3, 3] = np.nan
df.iloc[4, 1] = np.nan
df.iloc[9, 4] = np.nan
print("Original array:")
print(df)
def highlight_max(s):
    '''
    highlight the maximum in a Series green.
    '''
    is_max = s == s.max()
    return ['background-color: green' if v else '' for v in is_max]

print("\nHighlight the maximum value in each column:")
df.style.apply(highlight_max,subset=pd.IndexSlice[:, ['B', 'C', 'D', 'E']])

Original array:
      A         B         C         D         E
0   1.0  1.329212       NaN -0.316280 -0.990810
1   2.0 -1.070816 -1.438713  0.564417  0.295722
2   3.0 -1.626404  0.219565  0.678805  1.889273
3   4.0  0.961538  0.104011       NaN  0.850229
4   5.0       NaN  1.057737  0.165562  0.515018
5   6.0 -1.336936  0.562861  1.392855 -0.063328
6   7.0  0.121668  1.207603 -0.002040  1.627796
7   8.0  0.354493  1.037528 -0.385684  0.519818
8   9.0  1.686583 -1.325963  1.428984 -2.089354
9  10.0 -0.129820  0.631523 -0.586538       NaN

Highlight the maximum value in each column:

In [98]:
count = 100000
data = np.random.randn(100, count)

df = pd.DataFrame(data)

def solution_1(df):
    return df.style.highlight_max(color='green')

def solution_2(df):
    def highlight_max(s):
        is_max = s == s.max()
        return ['background-color: green' if v else '' for v in is_max]
    return df.style.apply(highlight_max)

test_solutions(solution_1, solution_2, df=df, number=1)

Solution 1 Time: 0.029678 seconds
Solution 2 Time: 0.030321 seconds

##### 4. Create a dataframe of ten rows, four columns with random values. Write a Pandas program to highlight the minimum value in each column.

In [43]:
data = np.random.randn(10, 4)

df = pd.concat(
    [
        pd.DataFrame({'A': np.arange(1,11)}), 
        pd.DataFrame(data, columns=list('BCDE'))
    ], axis=1
)
df.style.highlight_min(color='red', subset=list('BCDE'))

##### 5. Create a dataframe of ten rows, four columns with random values. Write a Pandas program to highlight the maximum value in last two columns.

In [22]:
data = np.random.randn(10, 4)

df = pd.concat(
    [
        pd.DataFrame({'A': np.arange(1,11)}), 
        pd.DataFrame(data, columns=list('BCDE'))
    ], axis=1
)
df.style.highlight_max(color='green', subset=df.columns[-2:])

##### 6. Create a dataframe of ten rows, four columns with random values. Write a Pandas program to set dataframe background Color black and font color yellow.

In [26]:
data = np.random.randn(10, 4)

df = pd.concat(
    [
        pd.DataFrame({'A': np.arange(1,11)}), 
        pd.DataFrame(data, columns=list('BCDE'))
    ], axis=1
)
df.style.set_properties(**{'background-color': 'black', 'color': 'yellow'})

##### 7. Create a dataframe of ten rows, four columns with random values. Write a Pandas program to highlight dataframe's specific columns.

In [27]:
data = np.random.randn(10, 4)

df = pd.concat(
    [
        pd.DataFrame({'A': np.arange(1,11)}), 
        pd.DataFrame(data, columns=list('BCDE'))
    ], axis=1
)

df.style.set_properties(**{'background-color': 'gray'}, subset=list('BC'))

##### 8. Create a dataframe of ten rows, four columns with random values. Write a Pandas program to highlight dataframe's specific columns with different colors.

In [28]:
data = np.random.randn(10, 4)

df = pd.concat(
    [
        pd.DataFrame({'A': np.arange(1,11)}), 
        pd.DataFrame(data, columns=list('BCDE'))
    ], axis=1
)

(
    df
    .style
    .set_properties(**{'background-color': 'gray'}, subset=list('BCE'))
    .set_properties(**{'background-color': 'red'}, subset=list('AD'))
)

##### 9. Create a dataframe of ten rows, four columns with random values. Write a Pandas program to display the dataframe in table style.

In [29]:
data = np.random.randn(10, 4)

df = pd.concat(
    [
        pd.DataFrame({'A': np.arange(1,11)}), 
        pd.DataFrame(data, columns=list('BCDE'))
    ], axis=1
)

df

    A         B         C         D         E
0   1  1.118699 -0.084816  0.493885 -0.713901
1   2 -2.189356 -1.421675 -0.150026 -1.088160
2   3 -0.175067  0.707443  0.116909  0.094980
3   4  0.129268  0.090911 -1.877806  0.620529
4   5 -0.422550 -0.266169  0.608957 -2.406974
5   6  0.961416  1.853175 -0.131202  0.250493
6   7 -1.111437 -0.128658  1.208185  1.265175
7   8  0.668037  0.661762 -0.170847 -0.506228
8   9 -1.190628  0.670645 -0.396260  0.966486
9  10 -1.282101  1.060287  0.766871 -0.523101

In [32]:
np.random.seed(24)
df = pd.DataFrame({'A': np.linspace(1, 10, 10)})
df = pd.concat([df, pd.DataFrame(np.random.randn(10, 4), columns=list('BCDE'))],
               axis=1)
df.iloc[0, 2] = np.nan
df.iloc[3, 3] = np.nan
df.iloc[4, 1] = np.nan
df.iloc[9, 4] = np.nan
print("Original array:")
print(df)
print("\nDataframe - table style:")
# Set CSS properties for th elements in dataframe
th_props = [
  ('font-size', '10px'),
  ('text-align', 'center'),
  ('font-weight', 'bold'),
  ('color', '#6d6d6d'),
  ('background-color', '#f7ffff')
  ]

# Set CSS properties for td elements in dataframe
td_props = [
  ('font-size', '16px')
]

# Set table styles
styles = [
  dict(selector="th", props=th_props),
  dict(selector="td", props=td_props)
  ]
(df.style
        .set_table_styles(styles))

Original array:
      A         B         C         D         E
0   1.0  1.329212       NaN -0.316280 -0.990810
1   2.0 -1.070816 -1.438713  0.564417  0.295722
2   3.0 -1.626404  0.219565  0.678805  1.889273
3   4.0  0.961538  0.104011       NaN  0.850229
4   5.0       NaN  1.057737  0.165562  0.515018
5   6.0 -1.336936  0.562861  1.392855 -0.063328
6   7.0  0.121668  1.207603 -0.002040  1.627796
7   8.0  0.354493  1.037528 -0.385684  0.519818
8   9.0  1.686583 -1.325963  1.428984 -2.089354
9  10.0 -0.129820  0.631523 -0.586538       NaN

Dataframe - table style:

##### 10. Create a dataframe of ten rows, four columns with random values. Write a Pandas program to highlight the entire row in Yellow where a specific column value is greater than 0.5.

In [49]:
data = np.random.randn(10, 4)

df = pd.concat(
    [
        pd.DataFrame({'A': np.arange(1,11)}), 
        pd.DataFrame(data, columns=list('BCDE'))
    ], axis=1
)

def highlight_greaterthan(x):
    if x.C > .5:
        return ['background-color: yellow']*5
    else:
        return ['background-color: white']*5 
df.style.apply(highlight_greaterthan, axis=1)

##### 11. Create a dataframe of ten rows, four columns with random values. Write a Pandas program to display the dataframe in Heatmap style.

In [57]:
data = np.random.randn(10, 4)

df = pd.concat(
    [
        pd.DataFrame({'A': np.arange(1,11)}), 
        pd.DataFrame(data, columns=list('BCDE'))
    ], axis=1
)

df.style.background_gradient(cmap ='viridis')

##### 12. Create a dataframe of ten rows, four columns with random values. Write a Pandas program to make a gradient color mapping on a specified column.

In [59]:
data = np.random.randn(10, 4)

df = pd.concat(
    [
        pd.DataFrame({'A': np.arange(1,11)}), 
        pd.DataFrame(data, columns=list('BCDE'))
    ], axis=1
)

df.style.background_gradient(subset=['C'])

##### 13. Create a dataframe of ten rows, four columns with random values. Write a Pandas program to make a gradient color on all the values of the said dataframe.

In [60]:
data = np.random.randn(10, 4)

df = pd.concat(
    [
        pd.DataFrame({'A': np.arange(1,11)}), 
        pd.DataFrame(data, columns=list('BCDE'))
    ], axis=1
)

df.style.background_gradient()

##### 14. Create a dataframe of ten rows, four columns with random values. Write a Pandas program to display the dataframe in table style and border around the table and not around the rows.

In [61]:
data = np.random.randn(10, 4)

df = pd.concat(
    [
        pd.DataFrame({'A': np.arange(1,11)}), 
        pd.DataFrame(data, columns=list('BCDE'))
    ], axis=1
)

df.style.set_table_styles([{'selector':'','props':[('border','4px solid #7a7')]}])

##### 15. Create a dataframe of ten rows, four columns with random values. Write a Pandas program to display bar charts in dataframe on specified columns.

In [63]:
data = np.random.randn(10, 4)

df = pd.concat(
    [
        pd.DataFrame({'A': np.arange(1,11)}), 
        pd.DataFrame(data, columns=list('BCDE'))
    ], axis=1
)

df.style.bar(subset=list('BC'), align='left')