In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import timeit

def test_solutions(*solutions, df, number):
    for idx, solution in enumerate(solutions):
        def timed_solution():
            solution(df.copy())
            
        time = timeit.timeit(timed_solution, number=number)
        print(f"Solution {idx + 1} Time: {time:.6f} seconds")

def test_solutions_2(*solutions, number):
    for idx, solution in enumerate(solutions):
        def timed_solution():
            solution()
            
        time = timeit.timeit(timed_solution, number=number)
        print(f"Solution {idx + 1} Time: {time:.6f} seconds")

def test_solutions_3(*solutions, df1, df2, number):
    for idx, solution in enumerate(solutions):
        def timed_solution():
            solution(df1.copy(), df2.copy())
            
        time = timeit.timeit(timed_solution, number=number)
        print(f"Solution {idx + 1} Time: {time:.6f} seconds")

##### 1. Write a Pandas program to create a large DataFrame and measure the time taken to sum a column using a for loop vs. using the sum method.

In [26]:
count = 1000000
data = np.random.randint(0, 100, count)
df = pd.DataFrame(data, columns=['Values'])

def solution_1(df):
    return df['Values'].sum()

def solution_2(df):
    sum = 0
    for value in df['Values']:
        sum += value
    return sum

print(f'Solution 1 result: {solution_1(df)}')
print(f'Solution 2 result: {solution_2(df)}')
print()

test_solutions(solution_1, solution_2, df=df, number=1)

Solution 1 result: 49496595
Solution 2 result: 49496595

Solution 1 Time: 0.002991 seconds
Solution 2 Time: 0.150166 seconds

##### 2. Write a Pandas program to compare the performance of applying a custom function to a column using apply vs. using vectorized operations.

In [40]:
count = 1_000_000
data = np.random.randint(0, 100, count)
df = pd.DataFrame(data, columns=['Values'])

def solution_1(df):
    df['Values'] = df['Values'] * 2
    return df

def solution_2(df):
    def multiply(x):
        return x * 2
    df['Values'] = df['Values'].apply(multiply)
    return df

def solution_3(df):
    def multiply(x):
        return x * 2    
    return df.apply(multiply)

print('Origin DataFrame:')
display(df.head())

print('Solution 1 result:')
display(solution_1(df.copy()).head())

print('Solution 2 result:')
display(solution_2(df.copy()).head())

print('Solution 3 result:')
display(solution_3(df.copy()).head())

test_solutions(solution_1, solution_2, solution_3, df=df, number=1)

Origin DataFrame:

   Values
0      75
1      90
2      28
3      91
4      69

Solution 1 result:

   Values
0     150
1     180
2      56
3     182
4     138

Solution 2 result:

   Values
0     150
1     180
2      56
3     182
4     138

Solution 3 result:

   Values
0     150
1     180
2      56
3     182
4     138

Solution 1 Time: 0.004383 seconds
Solution 2 Time: 0.422035 seconds
Solution 3 Time: 0.004441 seconds

##### 3. Write a Pandas program that loads a large CSV file into a DataFrame and optimizes memory usage by specifying appropriate data types.

In [74]:
def solution_1():
    return pd.read_csv('data/persons.csv', low_memory=False)

def solution_2():
    return pd.read_csv(
        'data/persons.csv', 
        dtype={
            'name': 'str',
            'age': 'int',
            'email': 'str',
            'float': 'float64'
        }
    )

print('Solution 1 result:')
display(solution_1().head())

print('Solution 2 result:')
display(solution_2().head())

test_solutions_2(solution_1, solution_2, number=1)

Solution 1 result:

               name   age               email         float
0         Lily Rose    33      wanifmi@mit.sd -5.427268e+11
1         Effie Ray    56      givju@kopal.co  8.601869e+11
2      Jeremy Drake    55        ruhevo@li.tc -1.931995e+11
3  Winifred Bridges    23  towrelav@cuvrot.ee -8.869412e+11
4    Mathilda Payne    57     suenu@uppima.ne  1.551375e+11

Solution 2 result:

               name   age               email         float
0         Lily Rose    33      wanifmi@mit.sd -5.427268e+11
1         Effie Ray    56      givju@kopal.co  8.601869e+11
2      Jeremy Drake    55        ruhevo@li.tc -1.931995e+11
3  Winifred Bridges    23  towrelav@cuvrot.ee -8.869412e+11
4    Mathilda Payne    57     suenu@uppima.ne  1.551375e+11

Solution 1 Time: 1.561944 seconds
Solution 2 Time: 1.415098 seconds

##### 4. Write a Pandas program that uses the "astype" method to convert the data types of a DataFrame and measures the reduction in memory usage.

In [99]:
df = pd.read_csv('data/ufo_sighting_data.csv', low_memory=False)

print('Origin DataFrame:')
df.info(memory_usage='deep')

print()

print('After converting data types:')
df['Date_time'] = df['Date_time'].astype('datetime64[ns]')
df['date_documented'] = df['date_documented'].astype('datetime64[ns]')
df['latitude'] = df['latitude'].str.replace(r'[^\d\.-]', '', regex=True).astype('float64')
df['length_of_encounter_seconds'] = df['length_of_encounter_seconds'].str.replace(r'[^\d-]', '', regex=True).astype('int')
df.info(memory_usage='deep')

Origin DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80332 entries, 0 to 80331
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Date_time                        80332 non-null  object
 1   city                             80332 non-null  object
 2   state/province                   74535 non-null  object
 3   country                          70662 non-null  object
 4   UFO_shape                        78400 non-null  object
 5   length_of_encounter_seconds      80332 non-null  object
 6   described_duration_of_encounter  80332 non-null  object
 7   description                      80317 non-null  object
 8   date_documented                  80332 non-null  object
 9   latitude                         80332 non-null  object
 10  longitude                        80332 non-null  float64
dtypes: float64(1), object(10)
memory usage: 49.3 MB

After converting data types:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80332 entries, 0 to 80331
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Date_time                        80332 non-null  datetime64[ns]
 1   city                             80332 non-null  object
 2   state/province                   74535 non-null  object
 3   country                          70662 non-null  object
 4   UFO_shape                        78400 non-null  object
 5   length_of_encounter_seconds      80332 non-null  int64
 6   described_duration_of_encounter  80332 non-null  object
 7   description                      80317 non-null  object
 8   date_documented                  80332 non-null  datetime64[ns]
 9   latitude                         80332 non-null  float64
 10  longitude                        80332 non-null  float64
dtypes: datetime64[ns](2), float64(2), int64(1), object(6)
memory usage: 34.0 MB

##### 5. Write a Pandas program to filter rows of a DataFrame based on a condition using a for loop vs. using boolean indexing. Compare performance.

In [101]:
count = 1_000_000
data = np.random.randint(0, 100, count)
df = pd.DataFrame(data, columns=['Values'])

def solution_1(df):    
    return df[df['Values'] % 2 == 0]

def solution_2(df):
    filtered_rows = []
    for idx, row in df.iterrows():
        if row['Values'] % 2 == 0:
            filtered_rows.append(row)
    
    return pd.DataFrame(filtered_rows)

print('Origin DataFrame:')
display(df.head())

print('Solution 1 result:')
display(solution_1(df.copy()).head())

print('Solution 2 result:')
display(solution_2(df.copy()).head())

test_solutions(solution_1, solution_2, df=df, number=1)

Origin DataFrame:

   Values
0      72
1      44
2      10
3      83
4      84

Solution 1 result:

   Values
0      72
1      44
2      10
4      84
6      40

Solution 2 result:

   Values
0      72
1      44
2      10
4      84
6      40

Solution 1 Time: 0.017273 seconds
Solution 2 Time: 57.827422 seconds

##### 6. Write a Pandas program that uses the groupby method to aggregate data and compares performance with manually iterating through the DataFrame.

In [120]:
df = pd.read_csv('data/ufo_sighting_data.csv', low_memory=False)

def solution_1(df):
    return df.groupby('country').size()

def solution_2(df):
    counts = {}
    for idx, row in df.iterrows():
        counts[row['country']] = counts.get(row['country'], 0) + 1
    return counts

print(solution_1(df))
print(solution_2(df))

test_solutions(solution_1, solution_2, df=df, number=1)

country
au      538
ca     3000
de      105
gb     1905
us    65114
dtype: int64
{'us': 65114, nan: 9670, 'gb': 1905, 'ca': 3000, 'au': 538, 'de': 105}
Solution 1 Time: 0.015217 seconds
Solution 2 Time: 5.009041 seconds

##### 7. Write a Pandas program that performs a merge operation on two large DataFrames using the "merge" method. It compares the performance with a nested for loop.

In [4]:
data1 = {
    'Key': np.random.randint(1, 1000, size=1000),
    'Value1': np.random.randint(1, 100, size=1000)
}
data2 = {
    'Key': np.random.randint(1, 1000, size=1000),
    'Value2': np.random.randint(1, 100, size=1000)
}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

def solution_1(df1, df2):
    return df1.merge(df2, on='Key')

def solution_2(df1, df2):
    result = []
    for idx_x, row_x in df1.iterrows():
        for idx_y, row_y in df2.iterrows():
            if row_x['Key'] == row_y['Key']:
                combined_row = {**row_x.to_dict(), **row_y.to_dict()}
                result.append(combined_row)
    return pd.DataFrame(result)                

test_solutions_3(solution_1, solution_2, df1=df1, df2=df2, number=1)

Solution 1 Time: 0.014505 seconds
Solution 2 Time: 44.769811 seconds

##### 8. Write a Pandas program to create a DataFrame with categorical data and use the category data type to optimize memory usage. Measure the performance difference.

In [15]:
df = pd.read_csv('data/ufo_sighting_data.csv', low_memory=False)
df.info(memory_usage='deep')

df['country'] = df['country'].astype('category')
df['UFO_shape'] = df['UFO_shape'].astype('category')
df['city'] = df['city'].astype('category')
df['state/province'] = df['state/province'].astype('category')
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80332 entries, 0 to 80331
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Date_time                        80332 non-null  object
 1   city                             80332 non-null  object
 2   state/province                   74535 non-null  object
 3   country                          70662 non-null  object
 4   UFO_shape                        78400 non-null  object
 5   length_of_encounter_seconds      80332 non-null  object
 6   described_duration_of_encounter  80332 non-null  object
 7   description                      80317 non-null  object
 8   date_documented                  80332 non-null  object
 9   latitude                         80332 non-null  object
 10  longitude                        80332 non-null  float64
dtypes: float64(1), object(10)
memory usage: 49.3 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80332 entries, 0 to 80331
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Date_time                        80332 non-null  object
 1   city                             80332 non-null  category
 2   state/province                   74535 non-null  category
 3   country                          70662 non-null  category
 4   UFO_shape                        78400 non-null  category
 5   length_of_encounter_seconds      80332 non-null  object
 6   described_duration_of_encounter  80332 non-null  object
 7   description                      80317 non-null  object
 8   date_documented                  80332 non-null  object
 9   latitude                         80332 non-null  object
 10  longitude                        80332 non-null  float64
dtypes: category(4), float64(1), object(6)
memory usage: 35.1 MB

0         tx
1         tx
2        NaN
3         tx
4         hi
        ...
80327     tn
80328     id
80329     ca
80330     va
80331     ok
Name: state/province, Length: 80332, dtype: category
Categories (67, object): ['ab', 'ak', 'al', 'ar', ..., 'wv', 'wy', 'yk', 'yt']

In [8]:
np.random.seed(0)  # Set seed for reproducibility
data = {
    'Category': np.random.choice(['A', 'B', 'C', 'D'], size=1000000),
    'Values': np.random.randint(1, 100, size=1000000)
}
df = pd.DataFrame(data)

print("Memory usage before optimization:")
print(df.info(memory_usage='deep'))

df['Category'] = df['Category'].astype('category')

print("\nMemory usage after optimization:")
print(df.info(memory_usage='deep'))

Memory usage before optimization:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 2 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   Category  1000000 non-null  object
 1   Values    1000000 non-null  int32
dtypes: int32(1), object(1)
memory usage: 51.5 MB
None

Memory usage after optimization:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 2 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   Category  1000000 non-null  category
 1   Values    1000000 non-null  int32
dtypes: category(1), int32(1)
memory usage: 4.8 MB
None

0         A
1         D
2         B
3         A
4         D
         ..
999995    D
999996    B
999997    A
999998    A
999999    B
Name: Category, Length: 1000000, dtype: category
Categories (4, object): ['A', 'B', 'C', 'D']

##### 9. Write a Pandas program that performs element-wise multiplication on a DataFrame using a for loop vs. using the * operator. Compare the performance.

In [6]:
count = 1_000_000
data = {
    'A': np.random.randint(0, 100, count),
    'B': np.random.randint(0, 100, count)
}
df = pd.DataFrame(data)

def solution_1(df):
    return df['A'] * df['B']

def solution_2(df):
    result = []
    for idx, row in df.iterrows():
        result.append(row['A'] * row['B'])
    return pd.Series(result)

print('Origin DataFrame:')
display(df.head())

print('Solution 1 result:')
display(solution_1(df.copy()).head())

print('Solution 2 result:')
display(solution_2(df.copy()).head())

test_solutions(solution_1, solution_2, df=df, number=1)

Origin DataFrame:

    A   B
0  37  17
1  84  24
2  19  79
3  22   2
4   7   4

Solution 1 result:

0     629
1    2016
2    1501
3      44
4      28
dtype: int32

Solution 2 result:

0     629
1    2016
2    1501
3      44
4      28
dtype: int32

Solution 1 Time: 0.003746 seconds
Solution 2 Time: 47.078223 seconds

##### 10. Write a Pandas program that uses the "eval" method to perform multiple arithmetic operations on DataFrame columns and compare performance with standard operations.

In [2]:
count = 100_000_000
data = {
    'A': np.random.randint(0, 100, count),
    'B': np.random.randint(0, 100, count)
}
df = pd.DataFrame(data)

def solution_1(df):
    df['C'] = df['A'] * df['B']
    return df

def solution_2(df):
    return df.eval('C = A * B')

print('Origin DataFrame:')
display(df.head())

print('Solution 1 result:')
display(solution_1(df.copy()).head())

print('Solution 2 result:')
display(solution_2(df.copy()).head())

test_solutions(solution_1, solution_2, df=df, number=1)

Origin DataFrame:

    A   B
0  95  70
1  97  99
2  44  70
3  40  47
4  33  92

Solution 1 result:

    A   B     C
0  95  70  6650
1  97  99  9603
2  44  70  3080
3  40  47  1880
4  33  92  3036

Solution 2 result:

    A   B     C
0  95  70  6650
1  97  99  9603
2  44  70  3080
3  40  47  1880
4  33  92  3036

Solution 1 Time: 0.456326 seconds
Solution 2 Time: 1.079354 seconds

In [4]:
import time 
# Create a sample DataFrame
np.random.seed(0)  # Set seed for reproducibility
data = {
    'A': np.random.randint(1, 100, size=1000000),
    'B': np.random.randint(1, 100, size=1000000),
    'C': np.random.randint(1, 100, size=1000000),
    'D': np.random.randint(1, 100, size=1000000)
}
df = pd.DataFrame(data)

# Perform arithmetic operations using standard operations
start_time = time.time()  # Record the start time
df['Result_standard'] = df['A'] + df['B'] - df['C'] * df['D'] / df['A']
time_standard = time.time() - start_time  # Calculate the time taken

# Perform arithmetic operations using the eval method
start_time = time.time()  # Record the start time
df['Result_eval'] = df.eval('A + B - C * D / A')
time_eval = time.time() - start_time  # Calculate the time taken

# Print the time taken for both methods
print("Time taken using standard operations:", time_standard, "seconds")
print("Time taken using eval method:", time_eval, "seconds")

Time taken using standard operations: 0.015656232833862305 seconds
Time taken using eval method: 0.028801441192626953 seconds

##### 11. Write a Pandas program to measure the time taken to concatenate multiple DataFrames using the "concat" method vs. using a "for" loop.

In [5]:
import time

# Function to create a list of DataFrames
def create_dataframes(num_dfs, num_rows, num_cols):
    return [pd.DataFrame(np.random.randn(num_rows, num_cols)) for _ in range(num_dfs)]

# Number of DataFrames, rows, and columns
num_dfs = 100
num_rows = 1000
num_cols = 10

# Create DataFrames
dfs = create_dataframes(num_dfs, num_rows, num_cols)

# Measure time for pd.concat method
start_time = time.time()
result_concat = pd.concat(dfs, axis=0)
end_time = time.time()
concat_time = end_time - start_time

# Measure time for for-loop method
start_time = time.time()
result_for_loop = dfs[0]
for df in dfs[1:]:
    result_for_loop = pd.concat([result_for_loop, df], axis=0)
end_time = time.time()
for_loop_time = end_time - start_time

# Print the time taken for each method
print(f"Time taken using pd.concat: {concat_time:.6f} seconds")
print(f"Time taken using for loop: {for_loop_time:.6f} seconds")

Time taken using pd.concat: 0.004008 seconds
Time taken using for loop: 0.124756 seconds

##### 12. Write a Pandas program that uses the query method to filter rows of a DataFrame based on a condition. Compare the performance with boolean indexing.

In [2]:
count = 100_000_000
df = pd.DataFrame(np.random.randint(0, 100, count), columns=['value'])

def solution_1(df):    
    return df[df['value'] > 50]

def solution_2(df):
    return df.query('value > 50')

print('Origin DataFrame:')
display(df.head())

print('Solution 1 result:')
display(solution_1(df.copy()).head())

print('Solution 2 result:')
display(solution_2(df.copy()).head())

test_solutions(solution_1, solution_2, df=df, number=1)

Origin DataFrame:

   value
0      6
1     38
2     10
3     46
4     64

Solution 1 result:

    value
4      64
8      87
9      70
10     54
12     72

Solution 2 result:

    value
4      64
8      87
9      70
10     54
12     72

Solution 1 Time: 1.021387 seconds
Solution 2 Time: 1.323831 seconds

##### 13. Write a Pandas program to create a time series DataFrame and use the resample method to downsample the data. Measure the performance improvement over manual resampling.

In [7]:
import time

# Create a time series DataFrame
num_rows = 100_000_000
date_range = pd.date_range(start='1/1/2020', periods=num_rows, freq='min')
df = pd.DataFrame({'value': np.random.randn(num_rows)}, index=date_range)

# Resampling frequency
resample_freq = 'h'

# Measure time for resample method
start_time = time.time()
resampled_df = df.resample(resample_freq).mean()
end_time = time.time()
resample_time = end_time - start_time

# Measure time for manual resampling
start_time = time.time()
manual_resampled_df = df.groupby(pd.Grouper(freq=resample_freq)).mean()
end_time = time.time()
manual_resample_time = end_time - start_time

# Print the time taken for each method
print(f"Time taken using resample method: {resample_time:.6f} seconds")
print(f"Time taken using manual resampling: {manual_resample_time:.6f} seconds")

Time taken using resample method: 3.016557 seconds
Time taken using manual resampling: 2.846402 seconds

##### 14. Write a Pandas program to compare the performance of calculating the cumulative sum of a column using the "cumsum" method vs. using a "for" loop.

In [7]:
count = 100_000
df = pd.DataFrame(np.random.randint(0, 100, count), columns=['value'])

def solution_1(df):
    return df['value'].cumsum()

def solution_2(df):
    result = []
    cumsum = 0
    for id, row in df.iterrows():
        cumsum += row['value']
        result.append(cumsum)
    return pd.Series(result)

def solution_3(df):
    result = []
    result.append(df['value'].iloc[0])
    for i in range(1, num_rows):
        result.append(result[i-1] + df['value'].iloc[i])
    return pd.Series(result)

print('Origin DataFrame:')
display(df.head())

print('Solution 1 result:')
display(solution_1(df.copy()).head())

print('Solution 2 result:')
display(solution_2(df.copy()).head())

print('Solution 3 result:')
display(solution_3(df.copy()).head())

test_solutions(solution_1, solution_2, solution_3, df=df, number=1)

Origin DataFrame:

   value
0     52
1     74
2     29
3     67
4     37

Solution 1 result:

0     52
1    126
2    155
3    222
4    259
Name: value, dtype: int64

Solution 2 result:

0     52
1    126
2    155
3    222
4    259
dtype: int32

Solution 3 result:

0     52
1    126
2    155
3    222
4    259
dtype: int32

Solution 1 Time: 0.001625 seconds
Solution 2 Time: 4.216412 seconds
Solution 3 Time: 1.344426 seconds

In [3]:
import time

# Create a sample DataFrame
num_rows = 100000
df = pd.DataFrame({'value': np.random.randn(num_rows)})

# Measure time for cumsum method
start_time = time.time()
cumsum_result = df['value'].cumsum()
end_time = time.time()
cumsum_time = end_time - start_time

# Measure time for for loop method
start_time = time.time()
cumsum_for_loop = np.zeros(num_rows)
cumsum_for_loop[0] = df['value'].iloc[0]
for i in range(1, num_rows):
    cumsum_for_loop[i] = cumsum_for_loop[i-1] + df['value'].iloc[i]
end_time = time.time()
for_loop_time = end_time - start_time

# Print the time taken for each method
print(f"Time taken using cumsum method: {cumsum_time:.6f} seconds")
print(f"Time taken using for loop: {for_loop_time:.6f} seconds")

Time taken using cumsum method: 0.002000 seconds
Time taken using for loop: 1.288633 seconds

##### 15. Write a Pandas program to optimize the performance of string operations on a DataFrame column by using the str accessor vs. applying a custom function with apply.

In [12]:
count = 100_000
df = pd.DataFrame('Write a Pandas program to optimize the performance of string operations'.split() * count)
def solution_1(df):
    return df[0].str.upper()

def solution_2(df):
    def uppper_case(s):
        return s.upper()
    return df[0].apply(uppper_case)

print('Origin DataFrame:')
display(df.head())

print('Solution 1 result:')
display(solution_1(df.copy()).head())

print('Solution 2 result:')
display(solution_2(df.copy()).head())

test_solutions(solution_1, solution_2, df=df, number=1)

Origin DataFrame:

         0
0    Write
1        a
2   Pandas
3  program
4       to

Solution 1 result:

0      WRITE
1          A
2     PANDAS
3    PROGRAM
4         TO
Name: 0, dtype: object

Solution 2 result:

0      WRITE
1          A
2     PANDAS
3    PROGRAM
4         TO
Name: 0, dtype: object

Solution 1 Time: 0.249723 seconds
Solution 2 Time: 0.332878 seconds

##### 16. Write a Pandas program that uses the pivot_table method to reshape a DataFrame and compares the performance with manual reshaping using for loops.

In [13]:
import time

# Create a sample DataFrame
num_rows = 1000000
df = pd.DataFrame({
    'A': np.random.choice(['foo', 'bar', 'baz'], size=num_rows),
    'B': np.random.choice(['one', 'two', 'three'], size=num_rows),
    'values': np.random.randn(num_rows)
})

# Measure time for pivot_table method
start_time = time.time()
pivot_table_result = df.pivot_table(index='A', columns='B', values='values', aggfunc='mean')
end_time = time.time()
pivot_table_time = end_time - start_time

# Measure time for manual reshaping using for loops
start_time = time.time()
result = {}
for a in df['A'].unique():
    result[a] = {}
    for b in df['B'].unique():
        result[a][b] = df[(df['A'] == a) & (df['B'] == b)]['values'].mean()

manual_reshape_result = pd.DataFrame(result).T
end_time = time.time()
manual_reshape_time = end_time - start_time

# Print the time taken for each method
print(f"Time taken using pivot_table method: {pivot_table_time:.6f} seconds")
print(f"Time taken using manual reshaping: {manual_reshape_time:.6f} seconds")

Time taken using pivot_table method: 0.156240 seconds
Time taken using manual reshaping: 1.547502 seconds

##### 17. Write a Pandas program to measure the time taken to sort a large DataFrame using the sort_values method vs. using a custom sorting function with apply.

In [16]:
#---

##### 18. Write a Pandas program to perform a rolling window calculation on a time series DataFrame using the rolling method. Compare the performance with manual calculation.

In [2]:
import time

# Create a time series DataFrame
num_rows = 1000
date_range = pd.date_range(start='1/1/2020', periods=num_rows, freq='min')
df = pd.DataFrame({'value': np.random.randn(num_rows)}, index=date_range)

# Define the window size
window_size = 60

# Measure time for rolling method
start_time = time.time()
rolling_mean = df['value'].rolling(window=window_size).mean()
end_time = time.time()
rolling_time = end_time - start_time

# Measure time for manual rolling calculation
start_time = time.time()
manual_rolling_mean = df['value'].copy()
for i in range(window_size, num_rows):
    manual_rolling_mean.iloc[i] = df['value'].iloc[i-window_size:i].mean()
end_time = time.time()
manual_rolling_time = end_time - start_time

# Print the time taken for each method
print(f"Time taken using rolling method: {rolling_time:.6f} seconds")
print(f"Time taken using manual calculation: {manual_rolling_time:.6f} seconds")

Time taken using rolling method: 0.000997 seconds
Time taken using manual calculation: 0.140728 seconds

##### 19. Write a Python program that uses the agg method to apply multiple aggregation functions to a DataFrame and compares the performance with applying each function individually.

In [10]:
import time

# Create a sample DataFrame
np.random.seed(0)
df = pd.DataFrame({
    'A': np.random.randint(1, 100, 1000),
    'B': np.random.rand(1000),
    'C': np.random.randint(1, 100, 1000)
})

# Define aggregation functions
aggregations = {
    'A': ['sum', 'mean', 'std'],
    'B': ['sum', 'mean', 'std'],
    'C': ['sum', 'mean', 'std']
}

# Timing the agg method
start_time_agg = time.time()
df_agg = df.agg(aggregations)
time_agg = time.time() - start_time_agg

# Timing the individual application of functions
start_time_individual = time.time()
results_individual = {
    'A_sum': df['A'].sum(),
    'A_mean': df['A'].mean(),
    'A_std': df['A'].std(),
    'B_sum': df['B'].sum(),
    'B_mean': df['B'].mean(),
    'B_std': df['B'].std(),
    'C_sum': df['C'].sum(),
    'C_mean': df['C'].mean(),
    'C_std': df['C'].std()
}
time_individual = time.time() - start_time_individual

# Print results
print(f"Time using agg method: {time_agg:.6f} seconds")
print(f"Time applying functions individually: {time_individual:.6f} seconds")
print("Aggregated results using agg method:")
print(df_agg)
print("Results applying functions individually:")
print(results_individual)

Time using agg method: 0.004074 seconds
Time applying functions individually: 0.001004 seconds
Aggregated results using agg method:
                 A           B             C
sum   49723.000000  509.199400  48276.000000
mean     49.723000    0.509199     48.276000
std      28.857183    0.296208     28.470799
Results applying functions individually:
{'A_sum': np.int64(49723), 'A_mean': np.float64(49.723), 'A_std': np.float64(28.857182953434798), 'B_sum': np.float64(509.19940043113445), 'B_mean': np.float64(0.5091994004311344), 'B_std': np.float64(0.29620838091891943), 'C_sum': np.int64(48276), 'C_mean': np.float64(48.276), 'C_std': np.float64(28.470799258370153)}

##### 20. Write a Pandas program to optimize the performance of reading a large Excel file into a DataFrame by specifying data types and using the "usecols" parameter.

In [15]:
def solution_1():
    return pd.read_excel('data/large_excel.xlsx')

def solution_2():
    return pd.read_excel('data/large_excel.xlsx', dtype={'col1': 'int', 'col2': 'str', 'col3': 'float'})

def solution_3():
    return pd.read_excel('data/large_excel.xlsx', dtype={'col1': 'int', 'col2': 'str', 'col3': 'float'}, usecols=['col1', 'col2', 'col3'])

# print('Solution 1 result:')
# display(solution_1().head())

# print('Solution 2 result:')
# display(solution_2().head())

test_solutions_2(solution_1, solution_2, solution_3, number=1)

Solution 1 Time: 30.657008 seconds
Solution 2 Time: 33.375374 seconds
Solution 3 Time: 32.311816 seconds