In [1]:
import pandas as pd
import numpy as np
import timeit

def test_solutions(*solutions, number):
    for idx, solution in enumerate(solutions):
        def timed_solution():
            solution()
            
        time = timeit.timeit(timed_solution, number=number)
        print(f"Solution {idx + 1} Time: {time:.6f} seconds")

def test_solutions_1(*solutions, df, number):
    for idx, solution in enumerate(solutions):
        def timed_solution():
            solution(df.copy())
            
        time = timeit.timeit(timed_solution, number=number)
        print(f"Solution {idx + 1} Time: {time:.6f} seconds")

def test_solutions_3(*solutions, df1, df2, number):
    for idx, solution in enumerate(solutions):
        def timed_solution():
            solution(df1.copy(), df2.copy())
            
        time = timeit.timeit(timed_solution, number=number)
        print(f"Solution {idx + 1} Time: {time:.6f} seconds")

##### 1. Write a Pandas program to resample time series data to daily frequency.

In [26]:
df = pd.DataFrame(
    {
        'A': np.random.randint(1, 10, 8784),
        'B' :np.random.randint(1, 10, 8784)
    },
    pd.date_range(start='2024-01-01', end='2024-12-31 23:00:00', freq='h')
)
print('Origina DataFrame:')
display(df.head(24))
display(df.tail(24))

df.resample('d').sum()

Origina DataFrame:

                     A  B
2024-01-01 00:00:00  6  2
2024-01-01 01:00:00  5  6
2024-01-01 02:00:00  9  3
2024-01-01 03:00:00  7  6
2024-01-01 04:00:00  8  6
2024-01-01 05:00:00  7  8
2024-01-01 06:00:00  2  4
2024-01-01 07:00:00  6  7
2024-01-01 08:00:00  3  5
2024-01-01 09:00:00  3  5
2024-01-01 10:00:00  8  3
2024-01-01 11:00:00  6  2
2024-01-01 12:00:00  5  5
2024-01-01 13:00:00  1  8
2024-01-01 14:00:00  1  4
2024-01-01 15:00:00  4  1
2024-01-01 16:00:00  5  1
2024-01-01 17:00:00  5  7
2024-01-01 18:00:00  4  5
2024-01-01 19:00:00  4  2
2024-01-01 20:00:00  7  1
2024-01-01 21:00:00  4  8
2024-01-01 22:00:00  9  6
2024-01-01 23:00:00  7  5

                     A  B
2024-12-31 00:00:00  9  6
2024-12-31 01:00:00  2  4
2024-12-31 02:00:00  2  3
2024-12-31 03:00:00  9  1
2024-12-31 04:00:00  8  7
2024-12-31 05:00:00  7  8
2024-12-31 06:00:00  2  2
2024-12-31 07:00:00  1  9
2024-12-31 08:00:00  3  5
2024-12-31 09:00:00  7  7
2024-12-31 10:00:00  2  2
2024-12-31 11:00:00  5  9
2024-12-31 12:00:00  8  9
2024-12-31 13:00:00  7  8
2024-12-31 14:00:00  3  8
2024-12-31 15:00:00  2  2
2024-12-31 16:00:00  9  1
2024-12-31 17:00:00  8  8
2024-12-31 18:00:00  8  9
2024-12-31 19:00:00  3  1
2024-12-31 20:00:00  6  4
2024-12-31 21:00:00  4  6
2024-12-31 22:00:00  5  7
2024-12-31 23:00:00  6  1

              A    B
2024-01-01  126  110
2024-01-02  100   93
2024-01-03  105  137
2024-01-04  110  124
2024-01-05  127  126
...         ...  ...
2024-12-27  116  113
2024-12-28  123  134
2024-12-29   92   99
2024-12-30  122  130
2024-12-31  126  127

[366 rows x 2 columns]

##### 2. Write a Pandas program to upsample daily time series data to hourly frequency.

In [31]:
index = pd.date_range('2024-09-01', periods=10, freq='d')
sr = pd.Series(np.random.randn(10), index=index)
sr.resample('h').ffill()

2024-09-01 00:00:00    1.696055
2024-09-01 01:00:00    1.696055
2024-09-01 02:00:00    1.696055
2024-09-01 03:00:00    1.696055
2024-09-01 04:00:00    1.696055
                         ...
2024-09-09 20:00:00    0.981795
2024-09-09 21:00:00    0.981795
2024-09-09 22:00:00    0.981795
2024-09-09 23:00:00    0.981795
2024-09-10 00:00:00   -2.136325
Freq: h, Length: 217, dtype: float64

##### 3. Write a Pandas program to resample Time Series Data with different Aggregation methods.

In [36]:
df = pd.DataFrame(
    {
        'A': np.random.randint(1, 1000, 8784),
        'B' :np.random.randint(1, 1000, 8784)
    },
    pd.date_range(start='2024-01-01', end='2024-12-31 23:00:00', freq='h')
)
print('Origina DataFrame:')
display(df.head())
display(df.tail())

df.resample('d').agg({'A': 'min', 'B': 'max'})

Origina DataFrame:

                       A    B
2024-01-01 00:00:00  616  348
2024-01-01 01:00:00  677   14
2024-01-01 02:00:00   91  228
2024-01-01 03:00:00  319  352
2024-01-01 04:00:00   33  360

                       A    B
2024-12-31 19:00:00  159  502
2024-12-31 20:00:00  198  913
2024-12-31 21:00:00  220  141
2024-12-31 22:00:00  254  340
2024-12-31 23:00:00  168  272

              A    B
2024-01-01   33  963
2024-01-02   13  976
2024-01-03    7  906
2024-01-04   10  960
2024-01-05   62  881
...         ...  ...
2024-12-27  167  944
2024-12-28    2  988
2024-12-29   17  967
2024-12-30   20  982
2024-12-31   16  955

[366 rows x 2 columns]

##### 4. Write a Pandas program to resample Time Series data to Weekly frequency.

In [45]:
index = pd.date_range('2024-09-01', periods=30, freq='d')
sr = pd.Series(np.random.randn(30), index=index)
print('Origina Series:')
display(sr)
print('\nResampled Series:')
display(sr.resample('W').sum())
print('\nResampled Series:')
display(sr.resample('W', label='left').sum())

Origina Series:

2024-09-01   -0.464133
2024-09-02   -0.628635
2024-09-03    0.445330
2024-09-04    0.220095
2024-09-05    0.710523
2024-09-06   -0.250956
2024-09-07    1.530893
2024-09-08   -1.980335
2024-09-09   -1.136685
2024-09-10    0.896926
2024-09-11   -0.752230
2024-09-12   -0.303030
2024-09-13   -0.892253
2024-09-14    0.439013
2024-09-15    1.647731
2024-09-16    0.604952
2024-09-17    0.470776
2024-09-18    1.275573
2024-09-19    0.106884
2024-09-20   -0.193791
2024-09-21    0.077412
2024-09-22    0.129732
2024-09-23    2.819790
2024-09-24    0.051984
2024-09-25   -0.730888
2024-09-26    1.550801
2024-09-27    0.140445
2024-09-28    0.323289
2024-09-29   -0.749171
2024-09-30   -1.000132
Freq: D, dtype: float64

Resampled Series:

2024-09-01   -0.464133
2024-09-08    0.046915
2024-09-15   -0.100528
2024-09-22    2.471538
2024-09-29    3.406250
2024-10-06   -1.000132
Freq: W-SUN, dtype: float64

Resampled Series:

2024-08-25   -0.464133
2024-09-01    0.046915
2024-09-08   -0.100528
2024-09-15    2.471538
2024-09-22    3.406250
2024-09-29   -1.000132
Freq: W-SUN, dtype: float64

##### 5. Write a Pandas program to downsample Time Series data from Minute to Hourly Frequency.

In [53]:
index=pd.date_range('2024-09-13', '2024-10-01', freq='min')
sr = pd.Series(
    np.random.randn(index.size),
    index=index
)
display(sr)
print()
display(sr.resample('h').mean())

2024-09-13 00:00:00   -0.203133
2024-09-13 00:01:00   -2.156226
2024-09-13 00:02:00    0.895472
2024-09-13 00:03:00   -0.393773
2024-09-13 00:04:00   -0.067785
                         ...
2024-09-30 23:56:00    0.574199
2024-09-30 23:57:00   -1.278384
2024-09-30 23:58:00   -0.640327
2024-09-30 23:59:00   -1.628969
2024-10-01 00:00:00   -0.485327
Freq: min, Length: 25921, dtype: float64

2024-09-13 00:00:00    0.126342
2024-09-13 01:00:00   -0.009612
2024-09-13 02:00:00    0.191253
2024-09-13 03:00:00   -0.034154
2024-09-13 04:00:00   -0.166792
                         ...
2024-09-30 20:00:00   -0.396890
2024-09-30 21:00:00    0.090771
2024-09-30 22:00:00   -0.150590
2024-09-30 23:00:00   -0.162034
2024-10-01 00:00:00   -0.485327
Freq: h, Length: 433, dtype: float64

##### 6. Write a Pandas program to resample Time Series Data to Business day Frequency.

In [58]:
index=pd.date_range('2024-01-01', '2024-12-31', freq='ME')
sr = pd.Series(
    np.random.randn(index.size),
    index=index
)
display(sr)
display(sr.resample('BME').bfill())

2024-01-31   -3.405726
2024-02-29   -2.204583
2024-03-31   -1.521369
2024-04-30    0.664622
2024-05-31   -0.091685
2024-06-30    0.563966
2024-07-31   -0.656877
2024-08-31    1.919593
2024-09-30   -0.333468
2024-10-31   -2.625187
2024-11-30    1.781090
2024-12-31   -0.653787
Freq: ME, dtype: float64

2024-01-31   -3.405726
2024-02-29   -2.204583
2024-03-29   -1.521369
2024-04-30    0.664622
2024-05-31   -0.091685
2024-06-28    0.563966
2024-07-31   -0.656877
2024-08-30    1.919593
2024-09-30   -0.333468
2024-10-31   -2.625187
2024-11-29    1.781090
2024-12-31   -0.653787
Freq: BME, dtype: float64

##### 7. Write a Pandas program to interpolate missing values after Resampling.

In [59]:
index=pd.date_range('2024-01-01', '2024-12-31', freq='ME')
sr = pd.Series(
    np.random.randn(index.size),
    index=index
)
display(sr)
display(sr.resample('D').interpolate())

2024-01-31    0.205503
2024-02-29   -0.931748
2024-03-31   -0.001690
2024-04-30   -0.413579
2024-05-31   -0.592239
2024-06-30    0.672324
2024-07-31    1.009095
2024-08-31   -0.114472
2024-09-30   -0.241569
2024-10-31    0.601459
2024-11-30   -0.960392
2024-12-31    0.283898
Freq: ME, dtype: float64

2024-01-31    0.205503
2024-02-01    0.166288
2024-02-02    0.127072
2024-02-03    0.087857
2024-02-04    0.048641
                ...
2024-12-27    0.123345
2024-12-28    0.163483
2024-12-29    0.203622
2024-12-30    0.243760
2024-12-31    0.283898
Freq: D, Length: 336, dtype: float64

##### 8. Write a Pandas program to resample Time Series data with custom functions.

In [64]:
index=pd.date_range('2024-01-01', '2024-12-31', freq='ME')
sr = pd.Series(
    np.random.randn(index.size),
    index=index
)
display(sr)

def custom_resample(x):
    if len(x) == 0:
        return 0
    else:
        return x

display(sr.resample('D').apply(custom_resample))

2024-01-31   -0.165187
2024-02-29    2.359851
2024-03-31    1.739517
2024-04-30    0.703549
2024-05-31   -0.400437
2024-06-30    0.361438
2024-07-31   -1.084786
2024-08-31   -0.793951
2024-09-30   -0.224179
2024-10-31    0.385443
2024-11-30   -0.315906
2024-12-31    1.048004
Freq: ME, dtype: float64

2024-01-31   -0.165187
2024-02-01    0.000000
2024-02-02    0.000000
2024-02-03    0.000000
2024-02-04    0.000000
                ...
2024-12-27    0.000000
2024-12-28    0.000000
2024-12-29    0.000000
2024-12-30    0.000000
2024-12-31    1.048004
Freq: D, Length: 336, dtype: float64

##### 9. Write a Pandas program to resample Time Series data to quarterly frequency.

In [66]:
index=pd.date_range('2024-01-01', '2024-12-31', freq='ME')
sr = pd.Series(
    np.random.randn(index.size),
    index=index
)
display(sr)
display(sr.resample('QE').mean())

2024-01-31   -1.770564
2024-02-29    0.552273
2024-03-31   -1.397971
2024-04-30   -2.033074
2024-05-31   -0.849441
2024-06-30    0.159824
2024-07-31    0.038356
2024-08-31   -1.012257
2024-09-30   -0.398870
2024-10-31   -0.358829
2024-11-30   -0.014490
2024-12-31    1.067882
Freq: ME, dtype: float64

2024-03-31   -0.872087
2024-06-30   -0.907564
2024-09-30   -0.457590
2024-12-31    0.231521
Freq: QE-DEC, dtype: float64

##### 10. Write a Pandas program to resample Time Series Data to Yearly Frequency.

In [68]:
index=pd.date_range('2020-01-01', '2024-12-31', freq='QE')
sr = pd.Series(
    np.random.randn(index.size),
    index=index
)
display(sr)
display(sr.resample('YE').mean())

2020-03-31    0.051386
2020-06-30   -0.246246
2020-09-30    0.337811
2020-12-31    0.904462
2021-03-31   -0.954579
2021-06-30    1.135508
2021-09-30   -0.973848
2021-12-31    0.337953
2022-03-31   -0.586621
2022-06-30    1.706321
2022-09-30    1.948281
2022-12-31   -0.587197
2023-03-31   -2.723846
2023-06-30   -1.499135
2023-09-30   -0.279263
2023-12-31    0.300607
2024-03-31    0.340617
2024-06-30    0.343237
2024-09-30   -0.668551
2024-12-31   -0.431386
Freq: QE-DEC, dtype: float64

2020-12-31    0.261853
2021-12-31   -0.113742
2022-12-31    0.620196
2023-12-31   -1.050409
2024-12-31   -0.104021
Freq: YE-DEC, dtype: float64

##### 11. Write a Pandas program to shift Time Series Data Forward and Backward.

In [73]:
index=pd.date_range('2024-01-01', '2024-12-31', freq='ME')
sr = pd.Series(
    np.random.randn(index.size),
    index=index
)
display(sr)
print()
display(sr.shift(6, freq='ME'))
print()
display(sr.shift(-6, freq='ME'))

2024-01-31    1.022484
2024-02-29   -0.667437
2024-03-31   -0.185433
2024-04-30   -1.402689
2024-05-31   -0.638958
2024-06-30   -0.295504
2024-07-31    0.818503
2024-08-31    0.022776
2024-09-30   -0.661481
2024-10-31    0.175630
2024-11-30   -0.560902
2024-12-31   -0.278083
Freq: ME, dtype: float64

2024-07-31    1.022484
2024-08-31   -0.667437
2024-09-30   -0.185433
2024-10-31   -1.402689
2024-11-30   -0.638958
2024-12-31   -0.295504
2025-01-31    0.818503
2025-02-28    0.022776
2025-03-31   -0.661481
2025-04-30    0.175630
2025-05-31   -0.560902
2025-06-30   -0.278083
Freq: ME, dtype: float64

2023-07-31    1.022484
2023-08-31   -0.667437
2023-09-30   -0.185433
2023-10-31   -1.402689
2023-11-30   -0.638958
2023-12-31   -0.295504
2024-01-31    0.818503
2024-02-29    0.022776
2024-03-31   -0.661481
2024-04-30    0.175630
2024-05-31   -0.560902
2024-06-30   -0.278083
Freq: ME, dtype: float64

##### 12. Write a Pandas program to calculate Rolling Mean of Resampled Data.

In [80]:
index=pd.date_range('2024-01-01', '2024-12-31', freq='ME')
sr = pd.Series(
    np.random.randn(index.size),
    index=index
)
display(sr)
resampled_sr = sr.resample('QE').mean()
display(resampled_sr)
display(resampled_sr.rolling(2).mean())
display(resampled_sr.rolling(2).mean().shift(-1))

2024-01-31   -0.667484
2024-02-29    1.641484
2024-03-31   -0.486377
2024-04-30   -0.313449
2024-05-31   -0.444517
2024-06-30    0.322952
2024-07-31    0.624370
2024-08-31   -0.529326
2024-09-30    0.775361
2024-10-31   -1.894965
2024-11-30    0.212610
2024-12-31    0.926971
Freq: ME, dtype: float64

2024-03-31    0.162541
2024-06-30   -0.145005
2024-09-30    0.290135
2024-12-31   -0.251795
Freq: QE-DEC, dtype: float64

2024-03-31         NaN
2024-06-30    0.008768
2024-09-30    0.072565
2024-12-31    0.019170
Freq: QE-DEC, dtype: float64

2024-03-31    0.008768
2024-06-30    0.072565
2024-09-30    0.019170
2024-12-31         NaN
Freq: QE-DEC, dtype: float64

##### 13. Write a Pandas program to handle missing data before Resampling.

In [82]:
# Create a time series data with hourly frequency
date_rng = pd.date_range(start='2023-01-01', end='2023-01-05', freq='h')
ts = pd.Series(np.random.randn(len(date_rng)), index=date_rng)

# Introduce some missing values
ts.iloc[10:20] = np.nan

# Fill missing values using forward fill method
ts_filled = ts.ffill()

# Resample the time series to daily frequency
ts_daily = ts_filled.resample('D').mean()

# Display the resampled time series
print(ts_daily)

2023-01-01    0.332174
2023-01-02    0.014769
2023-01-03   -0.169743
2023-01-04    0.146707
2023-01-05    1.449414
Freq: D, dtype: float64

##### 14. Write a Pandas program to create custom Resampling periods.

In [103]:
index=pd.date_range('2024-09-13 00:00', '2024-09-13 23:59', freq='min')
sr = pd.Series(
    np.random.randn(index.size),
    index=index
)

display(sr)
print()
display(sr.resample('2h37min').asfreq())

2024-09-13 00:00:00   -0.640525
2024-09-13 00:01:00    0.277810
2024-09-13 00:02:00   -1.118988
2024-09-13 00:03:00   -0.078054
2024-09-13 00:04:00   -0.169117
                         ...
2024-09-13 23:55:00    0.872023
2024-09-13 23:56:00   -0.425589
2024-09-13 23:57:00   -1.889795
2024-09-13 23:58:00   -0.159133
2024-09-13 23:59:00   -0.199988
Freq: min, Length: 1440, dtype: float64

2024-09-13 00:00:00   -0.640525
2024-09-13 02:37:00    1.040697
2024-09-13 05:14:00   -0.978043
2024-09-13 07:51:00    0.761792
2024-09-13 10:28:00    0.436487
2024-09-13 13:05:00    2.326257
2024-09-13 15:42:00   -0.258730
2024-09-13 18:19:00    0.720245
2024-09-13 20:56:00    1.523675
2024-09-13 23:33:00   -0.007726
Freq: 157min, dtype: float64

##### 15. Write a Pandas program to calculate percentage change in Resampled data.

In [114]:
index = pd.date_range('2024-01-01', '2024-12-31', freq='ME')
sr = pd.Series(np.random.randint(1, 10, index.size), index=index)
print('Original Series:')
display(sr)
print()
resampled = sr.resample('D').interpolate()
display(resampled)
print()
display(resampled.pct_change())

Original Series:

2024-01-31    3
2024-02-29    6
2024-03-31    5
2024-04-30    6
2024-05-31    1
2024-06-30    4
2024-07-31    6
2024-08-31    6
2024-09-30    7
2024-10-31    8
2024-11-30    7
2024-12-31    3
Freq: ME, dtype: int32

2024-01-31    3.000000
2024-02-01    3.103448
2024-02-02    3.206897
2024-02-03    3.310345
2024-02-04    3.413793
                ...
2024-12-27    3.516129
2024-12-28    3.387097
2024-12-29    3.258065
2024-12-30    3.129032
2024-12-31    3.000000
Freq: D, Length: 336, dtype: float64

2024-01-31         NaN
2024-02-01    0.034483
2024-02-02    0.033333
2024-02-03    0.032258
2024-02-04    0.031250
                ...
2024-12-27   -0.035398
2024-12-28   -0.036697
2024-12-29   -0.038095
2024-12-30   -0.039604
2024-12-31   -0.041237
Freq: D, Length: 336, dtype: float64